{% extends 'agent/partials/base.html' %}
{% load static %}
{% block content %}
<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-12">                        
                    <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a>  Edit Bill </h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'agent:index' %}"><i class="icon-home"></i></a></li>                            
                        <li class="breadcrumb-item">Edit Bill</li>
                    </ul>
                </div>            
             
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="body">
                        <div class="col-lg-12">
                            <div class="card">
                                
                                <div class="body">
                                    <div class="row clearfix">
                                        <div class="col-lg-2 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                
                                                <form method="POST">
                                                {% csrf_token %}
                                                <div class="row">
                                                <div class="col-6">
                                                <label for="dealer-select" class="control-label">Select Dealer</label>
                                                <select class="form-control" name="dealer-select" data-placeholder="Select">
                                                    <option value="{{ request.user.id }}">Myself</option>
                                                    {% for dealer in dealers %}
                                                        <option value="{{ dealer.id }}">{{ dealer.user }}</option>
                                                    {% endfor %}
                                                </select>
                                                </div>  
                                                <div class="col-6">
                                                <label for="time-select" class="control-label">Select Time</label>
                                                <select class="form-control" name="time-select" data-placeholder="Select">
                                                    {% for time in times %}
                                                        <option value="{{ time.id }}">{{ time.end_time }}</option>
                                                    {% endfor %}
                                                </select>
                                                </div>
                                                </div>
                                                <button type="submit" class="btn btn-primary mt-3">Search</button>
                                                </form>
                                            </div>
                                        </div>
                                      
                                    </div>
                                   
                                 </div>
                                
                                <div class="body">
                                    <div class="table-responsive">
                                        <table class="table m-b-0">
                                            <thead>
                                                <tr>
                                                     <th>Date</th>
                                                     <th>User</th>
                                                     <th>Bill</th>
                                                     <th>Count </th>
                                                     <th>S Amount </th>
                                                     <th>C Amount </th>
                                                     <th>#</th>
                                                </tr>
                                            </thead>
                                            <tbody id="bill-table">
                                                {% for bill in bills %}
                                                <tr data-dealer="{{ bill.agent.user }}">
                                                    <td>{{bill.date}}</td>
                                                    <td>{{bill.agent}}</td>
                                                    <td>{{bill.id}}</td>
                                                    <td>{{bill.total_count}}</td>
                                                    <td>{{bill.total_d_amount}}</td>
                                                    <td>{{bill.total_c_amount}}</td>
                                                    <td>2</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                   
                                </div>
                                
                            </div>
                           
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<script>
    document.getElementById("dealer-select").addEventListener('click', function () {
        const dealerSelect = document.getElementById('dealer-select');
        const billTable = document.querySelectorAll('[data-dealer]');

        console.log(dealerSelect)

        dealerSelect.addEventListener('change', function () {
            const selectedDealer = dealerSelect.value;

            billTable.forEach(function (row) {
                if (selectedDealer === row.getAttribute('data-dealer') || selectedDealer === '{{ request.user }}') {
                    row.style.display = 'table-row';
                } else {
                    row.style.display = 'none';
                }
            });
        });
});

</script>

{% endblock %} 