{% extends 'agent/partials/base.html' %}
{% load static %}
{% block content %}


<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-12">
                    <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                class="fa fa-arrow-left"></i></a>{{current_time}}</h2>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            {% for time, is_available in zipped_play_times %}
            {% if is_available %}
            <div class="col-lg-3 col-md-12">
                <a href="{% url 'agent:play_game' time.id %}">
                <div class="card top_counter currency_state">
                    <div class="body">
                        <div class="icon"><img src="{% static 'images/game1.png' %}" width="35" /></div>
                        <div class="content">
                            <h5 class="number">{{ time.game_time }}</h5>
                            {% if is_available %}
                            <p>Game is available!</p>
                            {% else %}
                            <p>Game is not available.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                </a>
            </div>
            {% else %}
            <div class="col-lg-3 col-md-12">
                <a href="#" onclick="noGame()" data-type="confirm" class="js-sweetalert">
                <div class="card top_counter currency_state">
                    <div class="body">
                        <div class="icon"><img src="{% static 'images/game1.png' %}" width="35" /></div>
                        <div class="content">
                            <h5 class="number">{{ time.game_time }}</h5>
                            {% if is_available %}
                            <p>Game is available!</p>
                            {% else %}
                            <p>Game is not available.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>
            </div>
            {% endif %}
            {% endfor %}



        </div>




        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Daily Report</h2>
                    </div>
                    <div class="body">
                        <div class="col-lg-12">
                            <div class="card">
                                
                                <div class="body">
                                    <div class="row clearfix">
                                         <div class="col-lg-2 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="tax-id" class="control-label">Date</label>
                                                <input type="date" value="2017-06-01" class="form-control">
                                            </div> 
                                        </div>
                                        
                                            <div class="col-lg-2 col-md-6 col-sm-12">
                                               <div class="form-group">
                                                   <label for="tax-id" class="control-label">Date</label>
                                                   <input type="date" value="2017-06-01" class="form-control">
                                               </div> 
                                           </div>
                                     <div class="col-lg-2 col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label for="tax-id" class="control-label">Dealer</label>
                                            <div class="mb-3">
                                                
                                                <select class="form-control show-tick ms select2" data-placeholder="Select">
                                                    <option></option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-lg-2 col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label for="tax-id" class="control-label">Dealer</label>
                                            <div class="mb-3">
                                                
                                                <select class="form-control show-tick ms select2" data-placeholder="Select">
                                                    <option></option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div> -->
                                    

                                        <div class="col-lg-2 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="ssn" class="control-label">  click </label>
                                                <br><button type="button" class="btn btn-primary">GO</button>
                                               
                                            </div>
                                        </div>
                                      
                                    </div>
                                   
                                 </div>
                                
                              
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Dealer</th>
                                                    <th> T.Scale</th>
                                                    <th> T.W Amount</th>
                                                    <th> Balance</th>
                                                   
                                                </tr>
                                            </thead>
                                        
                                            <tbody>
                                                <tr>
                                                    <td>2</td>
                                                    <td>2</td>
                                                    <td>2</td>
                                                    <td>2</td>
                                                   
                                                    <td>2</td>
                                                       
                                                </tr>
                                             
                                            </tbody>
                                        </table>
                                        </div>
                                    <!-- <div class="table-responsive">
                                        <h6>Dealer Name and Game Time</h6>
                                        <table class="table m-b-0">
                                            
                                            <thead>
                                                <tr>
                                                     <th> Date</th>
                                                     <th> Dealer</th>
                                                     <th> T.Scale</th>
                                                     <th> T.W Amount</th>
                                                     <th> Balance</th>
                                                     
                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>2</td>
                                                    <td>2</td>
                                                    <td>2</td>
                                                    <td>2</td>
                                                   
                                                    <td>2</td>
                                                       
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div> -->
                                   
                          
                                <div class="body">
                                     <div class=" row clearfix">
                                        
                                <div class="col-lg-3 col--md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="tax-id" class="control-label">Sales Amount</label>
                                        <input type="number"  class="form-control">
                                    </div> 
                                </div>
                                
                                    <div class="col-lg-3 col-md-6 col-sm-12">
                                       <div class="form-group">
                                           <label for="tax-id" class="control-label">Win Amount</label>
                                           <input type="number"  class="form-control">
                                       </div> 
                                   </div>
                                   <div class="col-lg-3 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="tax-id" class="control-label">Balance</label>
                                        <input type="number"  class="form-control">
                                    </div> 
                                </div>
                                <!-- <div class="col-lg-3 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="tax-id" class="control-label">Ne</label>
                                        <input type="number"  class="form-control">
                                    </div> 
                                </div> -->
                                
                            </div>
                                </div>
                                
                            </div>
                           
                        </div>
                    </div>
                    </div>
                </div>
            </div>

</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    function noGame() {
        swal({
            title: "Game is not available?",
            text: "You can't play on this time!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
    }


</script>


{% endblock %}