{% extends 'agent/partials/base.html' %}
{% load static %}
{% block content %}


<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-12">
                    <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                class="fa fa-arrow-left"></i></a> Sales Report</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'agent:index' %}"><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item active">Sales Report</li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">

                    <div class="body">
                        <ul class="nav nav-tabs-new2">
                            <div class="col-lg-2 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="tax-id" class="control-label">All Dealer</label>
                                    <div class="mb-3">

                                        <select class="form-control show-tick ms select2" data-placeholder="Select">
                                            <option></option>
                                            {% for dealer in dealers %}
                                            <option>{{dealer.user}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-2 col-md-6 col-6">
                                <div class="form-group">
                                    <label for="tax-id" class="control-label">From</label>
                                    <input type="date" value="2017-06-01" class="form-control">
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-6 col-6">
                                <div class="form-group">
                                    <label for="tax-id" class="control-label">To</label>
                                    <input type="date" value="2017-06-01" class="form-control">
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="tax-id" class="control-label">Select Time</label>
                                    <div class="mb-3">

                                        <select class="form-control show-tick ms select2" data-placeholder="Select">
                                            <option></option>
                                            {% for time in times %}
                                            <option>{{time.end_time}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </ul>

                        <ul class="nav nav-tabs-new2">
                            <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#Home-new2">All
                                </a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Profile-new2">A/B/C</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Contact-new3">AB/AC/BC</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Contact-new4">SUPER</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Contact-new5">BOX</a></li>

                        </ul>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="body">
                            <div class="table-container" style="max-height: 300px; overflow-y: auto;">
                                <table id="mainTable" class="table table-hover" style="table-layout: fixed; width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Dealer</th>
                                            <th>Bill</th>
                                            <th>Count</th>
                                            <th>S.Amt</th>
                                            <th>C.Amt</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for my_game in my_games %}
                                        <tr data-row-id="{{ row.id }}">
                                            <td>{{my_game.LSK}}</td>
                                            <td>{{my_game.number}}</td>
                                            <td>{{my_game.count}}</td>
                                            <td>{{my_game.d_amount}}</td>
                                            <td>{{my_game.c_amount}}</td>
                                            <td><button type="button" onclick="editRow(this)" class="btn btn-info" title="Edit"><i class="fa fa-edit"></i></button></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </div>



    <script>
        function printcontent() {

            var divToPrint = document.getElementById("printcontent");
            newWin = window.open("");
            newWin.document.write(divToPrint.outerHTML);
            newWin.document.close();
            newWin.print();
            //newWin.close();
        }

        document.querySelector("#button").addEventListener("click", function () {
            printcontent();
        });

    </script>



    {% endblock %}