{% extends 'agent/partials/base.html' %}
{% load static %}
{% block content %}



<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-12">
                    <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"></a>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'agent:index' %}"><i
                                        class="icon-home"></i></a></li>
                            <li class="breadcrumb-item">Limits</li>
                        </ul>
                    </h2>

                </div>

            </div>
        </div>

        <div class="row clearfix" style="padding-left: 0px;padding-right: 0px;">
            <div class="col-lg-12" style="padding-left: 0px;padding-right: 0px;">
                <div class="card" style="background-color:antiquewhite;padding-left: 0px;padding-right: 0px;">
                    <div class="body">
                        <div class="table-responsive" style="padding-left: 0px;padding-right: 0px;">
                            <table class="table table-hover js-basic-example dataTable table-custom m-b-0 c_list">
                                <thead>
                                    <tr>
                                        <th>
                                            <label class="fancy-checkbox">
                                                <input class="select-all" type="checkbox" name="checkbox">
                                                <span></span>
                                            </label>
                                        </th>
                                        <th>Dealer</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for limit in limits %}
                                    <tr>
                                        <td style="width: 50px;">
                                            <label class="fancy-checkbox">
                                                <input class="checkbox-tick" type="checkbox" name="checkbox">
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <p class="c_name">{{limit.dealer.user}}</p>
                                        </td>
                                        <td>
                                            <a href="{% url 'agent:edit_limit' limit.id %}" class="btn btn-info"
                                                title="Edit">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    function agentDelete(id) {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this user!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    swal("Poof! This user has been deleted!", {
                        icon: "success",
                    });
                    setTimeout(function () {
                        window.location.href = "/adminapp/delete-agent/" + id
                    }, 1000);
                } else {
                    swal("It is safe!");
                }
            });
    }


</script>

<script>
    function agentBan(id) {
        swal({
            title: "Are you sure?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    swal("This user has been banned!", {
                        icon: "success",
                    });
                    setTimeout(function () {
                        window.location.href = "/adminapp/ban-agent/" + id
                    }, 1000);
                } else {
                    swal("It is safe!");
                }
            });
    }


</script>

<script>
    function removeBan(id) {
        swal({
            title: "Are you sure?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    swal("This user's ban removed!", {
                        icon: "success",
                    });
                    setTimeout(function () {
                        window.location.href = "/adminapp/remove-ban/" + id
                    }, 1000);
                } else {
                    swal("It is safe!");
                }
            });
    }


</script>

{% endblock %}