{% extends 'agent/partials/base.html' %}
{% load static %}
{% block content %}

<style>
    .navbar-bottom {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 55px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        background-color: #ffffff;
        overflow-x: auto;
        justify-content: space-evenly;
        display: flex;
        flex-direction: column;
    }

    .th {
        text-align: center;
    }

    .td2 {
        text-align: center;
    }

    .td3 {
        text-align: center;
    }

    .th1,
    .td1 {
        text-align: center;
    }

 
</style>
<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row  header">
                <div class="col-lg-5 col-md-8 col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'adminapp:index' %}"><i class="icon-home"></i></a>
                        </li>
                        <li class="breadcrumb-item">Winning Report</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row clearfix" style="padding-bottom: 10px; ">
            <form method="POST">
                {% csrf_token %}
                <div class="col-lg-12 col-md-12 col-sm-12" style="padding-left: 0px;padding-right: 0px;padding-top: 0px;">
                    <div class="body">
                        <div class="col-lg-12"  style="padding-left: 5px;padding-right: 5px;">
                            
                            <div class="card  serch"
                                style="padding-left: 10px;padding-right: 10px;background-color: antiquewhite;padding-top: 10px;">

                                <div class="body">
                                    <div class="row clearfix">
                                        <div class="col-md-6 col-6">
                                            <div class="form-group">
                                                <input type="date" class="form-control" id="from-date" name="from-date">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <div class="form-group">
                                                <input type="date" class="form-control" id="to-date" name="to-date">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <div class="form-group">
                                                <select class="form-control show-tick ms select2"
                                                    data-placeholder="Select" name="customer" id="customer">
                                                    <option value="all">All Dealers</option>
                                                    <option value="{{request.user}}">Myself</option>
                                                    {% for dealer in dealers %}
                                                    <option value="{{dealer.user.id}}">{{dealer.user}}</option>
                                                    {% endfor %}
                                                    {% for cust in customers %}
                                                    <option value="{{cust}}">{{cust}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <div class="form-group">
                                                <select class="form-control show-tick ms select2"
                                                    data-placeholder="Select" name="time" id="time">
                                                    <option value="all">All Times</option>
                                                    {% for time in times %}
                                                    <option value="{{time.id}}">{{time.game_time}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <label class="control-inline fancy-checkbox ml-auto">
                                                <input type="checkbox" name="checkbox2" id="summary-button">
                                                <span>Summary</span>
                                            </label>
                                        </div>
                                        <div class="col-md-3 col-3">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary">Search</button>

                                            </div>
                                        </div>
                                        <div class="col-md-3 col-3">
                                            <div class="form-group">
                                                <button class="btn btn-primary" id="pdfButton" name="pdfButton" type="submit">Download</button>

                                            </div>
                                        </div>
                                       


                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </form>
        </div>

        <div class="container-fluid" style="padding-left: 0px;padding-right: 0px;padding-top: 0px;">
            <div class="row clearfix" style="padding-left: 0px;padding-right: 0px;">
                <div class="col-lg-12" style="padding-left: 4px;padding-right: 4px;">
                    <div class="card" style="padding-left: 0px;padding-right: 0px;background-color: lavender;">
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table m-b-0">

                                    <thead class="l-blue">
                                        <tr>
                                            <th class="th">B</th>
                                            <th class="th">U</th>
                                            <th class="th">T</th>
                                            <th class="th">PN</th>
                                            <th class="th">C</th>
                                            <th class="th">PP</th>
                                            <th class="th">SU</th>
                                            <th class="th">RS</th>
                                            <th class="th">Net</th>

                                        </tr>
                                    </thead>
                                    {% if dealer_only %}
                                    <tbody class="not-summary l-blush">
                                        {% for winning in winnings %}
                                        <tr>
                                            <td class="td2">{{winning.bill.id}}</td>
                                            {% if winning.agent %}
                                                {% if winning.bill.customer == '' %}
                                                    <td class="td3">{{ winning.agent }}</td>
                                                {% else %}
                                                    {% with winning_bill=winning.bill %}
                                                        <td class="td3">{{ winning_bill.customer }}</td>
                                                    {% endwith %}
                                                {% endif %}
                                                <td class="td2">{{winning.LSK}}</td>
                                                <td class="td3">{{winning.number}}</td>
                                                <td class="td2">{{winning.count}}</td>
                                                <td class="td3">{{winning.position}}</td>
                                                <td class="td2">{{winning.commission|floatformat:2}}</td>
                                                <td class="td3">{{winning.prize|floatformat:2}}</td>
                                                <td class="td2">{{winning.total|floatformat:2}}</td>
                                            {% else %}
                                            <td class="td3">{{winning.dealer}}</td>
                                            <td class="td2">{{winning.LSK}}</td>
                                            <td class="td3">{{winning.number}}</td>
                                            <td class="td2">{{winning.count}}</td>
                                            <td class="td3">{{winning.position}}</td>
                                            <td class="td2">{{winning.commission|floatformat:2}}</td>
                                            <td class="td3">{{winning.prize|floatformat:2}}</td>
                                            <td class="td2">{{winning.total|floatformat:2}}</td>
                                            {% endif %}
                                            
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    {% else %}
                                    <tbody class="not-summary l-blush">
                                        {% for winning in winnings %}
                                        <tr>
                                            <td class="td2">{{winning.bill.id}}</td>
                                            {% if winning.agent %}
                                                {% if winning.bill.customer == '' %}
                                                    <td class="td3">{{ winning.agent }}</td>
                                                {% else %}
                                                    {% with winning_bill=winning.bill %}
                                                        <td class="td3">{{ winning_bill.customer }}</td>
                                                    {% endwith %}
                                                {% endif %}
                                                <td class="td2">{{winning.LSK}}</td>
                                                <td class="td3">{{winning.number}}</td>
                                                <td class="td2">{{winning.count}}</td>
                                                <td class="td3">{{winning.position}}</td>
                                                <td class="td2">{{winning.commission|floatformat:2}}</td>
                                                <td class="td3">{{winning.prize|floatformat:2}}</td>
                                                <td class="td2">{{winning.total|floatformat:2}}</td>
                                            {% else %}
                                            <td class="td3">{{winning.dealer}}</td>
                                            <td class="td2">{{winning.LSK}}</td>
                                            <td class="td3">{{winning.number}}</td>
                                            <td class="td2">{{winning.count}}</td>
                                            <td class="td3">{{winning.position}}</td>
                                            <td class="td2">{{winning.commission_admin|floatformat:2}}</td>
                                            <td class="td3">{{winning.prize_admin|floatformat:2}}</td>
                                            <td class="td2">{{winning.total_admin|floatformat:2}}</td>
                                            {% endif %}
                                            
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    {% endif %}
                                    <tbody style="display: none;" class="summary-row l-blush">
                                        {% for winning in aggr %}
                                        <tr>
                                            <td class="td2">{{winning.bill}}</td>
                                            {% if winning.agent %}
                                            <td class="td3">$</td>
                                            {% else %}
                                            <td class="td3">$</td>
                                            {% endif %}
                                            <td class="td2">{{winning.LSK}}</td>
                                            <td class="td3">{{winning.number}}</td>
                                            <td class="td2">{{winning.total_count}}</td>
                                            <td class="td3">{{winning.position}}</td>
                                            <td class="td2">{{winning.total_commission|floatformat:2}}</td>
                                            <td class="td3">{{winning.total_prize|floatformat:2}}</td>
                                            <td class="td2">{{winning.total_net|floatformat:2}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                              
                            </div>
                            <div style="padding-top: 50px;"></div>
                            <!-- <div class="text-right" style="padding-top: 50px;"> <button class="btn btn-primary" id="printbutton" onclick="makeprint()"
                                                        type="submit">Print </button></div>
                                                    </div> -->

                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<nav class="navbar-bottom" id="btotal">
    <table>
        <thead>
            <tr>
                <th class="th1">COUNT</th>
                <th class="th1">COMM</th>
                <th class="th1">TOTAL</th>
                <th class="th1">NET</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="td1">{{totals.total_count}}</td>
                <td class="td1">{{totals.total_commission|floatformat:2 }}</td>
                <td class="td1">{{totals.total_rs|floatformat:2 }}</td>
                <td class="td1">{{totals.total_net|floatformat:2 }}</td>
            </tr>
        </tbody>
    </table>
</nav>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#summary-button").change(function () {
            if (this.checked) {
                $(".summary-row").show(); // Show the row when the checkbox is checked
                $(".not-summary").hide();
            } else {
                $(".summary-row").hide(); // Hide the row when the checkbox is unchecked
                $(".not-summary").show();
            }
        });
    });
</script>
<script>
    // Get the current date in the format "YYYY-MM-DD"
    function getCurrentDate() {
        const now = new Date();
        const year = now.getFullYear();
        const month = (now.getMonth() + 1).toString().padStart(2, '0');
        const day = now.getDate().toString().padStart(2, '0');
        return `${year}-${month}-${day}`;
    }

    // Check if selected_from and selected_to are defined
    var selectedFrom = "{{selected_from}}";
    var selectedTo = "{{selected_to}}";

    if (selectedFrom && selectedTo) {
        document.getElementById('from-date').value = selectedFrom;
        document.getElementById('to-date').value = selectedTo;
    } else {
        document.getElementById('from-date').value = getCurrentDate();
        document.getElementById('to-date').value = getCurrentDate();
    }
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var selectTime = document.getElementById("time");
        var selectCustomer = document.getElementById("customer");
        selectTime.value = "{{ selected_time }}";
        selectCustomer.value = "{{ selected_customer }}";
        console.log("{{selected_customer}}");
    });
</script>
<script>

    const x = document.getElementById("from-date");
    const y = document.getElementById("to-date");

    let currentVal = x.value;
    let currentValue = y.value;

    const daysOfWeek = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];

    let fromDate = new Date(currentVal);
    let toDate = new Date(currentValue);

    let fromDayOfWeek = daysOfWeek[fromDate.getDay()];
    let toDayOfWeek = daysOfWeek[toDate.getDay()];

    document.getElementById("demo").innerHTML = " : " + currentVal + " (" + fromDayOfWeek + ")";
    document.getElementById("demo1").innerHTML = "&nbsp; to &nbsp;" + currentValue + " (" + toDayOfWeek + ")";
    var selectedGameTime = "{{ selected_game_time }}";
        document.getElementById("demo4").innerHTML = ": " + formatTime(selectedGameTime);



    function formatTime(time) {
  // Split the time into hours and minutes
  var timeArray = time.split(":");
  var hours = timeArray[0];

  // Convert hours to 12-hour format
  var ampm = hours >= 12 ? 'PM' : 'AM';
  hours = hours % 12;
  hours = hours ? hours : 12; // Handle midnight (00:00) as 12 AM



  // Format the time in h:mm AM/PM format
  return hours + ":" +"00" + ampm;
}

</script>

<script>
    //   pdftab hide

    document.addEventListener("DOMContentLoaded", function () {
        // Hide the pdftab div when the page loads
        var pdftab = document.getElementById("pdftab");
        if (pdftab) {
            pdftab.style.display = "none";
        }
    });
</script>

<script src="https://rawgit.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>

{% endblock %}