{% load static %}
<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-btn">
            <button type="button" class="btn-toggle-offcanvas"><i class="lnr lnr-menu fa fa-bars"></i></button>
        </div>

        <div class="navbar-brand">
            <a href="{% url 'adminapp:index' %}"><img src="" class="img-responsive logo"></a>                
        </div>
        
        <div class="navbar-right">
        
        
        </div>
    </div>
</nav>
