{% extends 'adminapp/partials/base.html' %}
{% load static %}
{% block content %}

<style>

    .helptext{
      visibility: hidden;
    }
    
</style>

<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            </div>
            <div class="row" >
                <div class="col-lg-5 col-md-8 col-sm-12" >
                    <ul class="breadcrumb" style="background-color:antiquewhite">
                        <li class="breadcrumb-item"><a href="{% url 'adminapp:index' %}"><i class="icon-home"></i></a>
                        </li>
                        <li class="breadcrumb-item">Change Password</li>
                    </ul>
                </div>

            </div>
        </div>

        <div id="wrapper text-center">
            <div class="vertical-align-wrap">
                <!-- <div class="vertical-align-middle auth-main"> -->
                    <div class="auth-box">
                        
                        <div class="card " style="background-color:antiquewhite">
                            <div class="header">
                                <p class="lead" >Change Password</p>
                            </div>
                            <div class="body">
                                <form method="post" class="form-auth-medium" class="form-group">
                                    {% csrf_token %}
                                    {{form.as_p}}
                                
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">Update</button>



                                <!-- <form class="form-auth-small">
                                    <div class="form-group">
                                        <label class="control-label sr-only">new password</label>
                                        <input type="email" class="form-control" placeholder="type new password">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label sr-only">Password</label>
                                        <input type="password" class="form-control" placeholder="Password">
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">update</button>
                                   -->
                                </form> 
                            </div>
                        </div>
                    </div>
               
            </div>
        </div>
    </div>
</div>


{% endblock %}