{% extends 'adminapp/partials/base.html' %}
{% load static %}
{% block content %}

<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h2>Change Game Time</h2>
                    </div>
                    <div class="body" >
                        <form method="POST">
                            {% csrf_token %}
                            <div class="col-lg-4 col-md-12">
                                <label>Opening Time</label>
                                <div class="input-group" data-date-autoclose="true">
                                    <input type="time" id="start_time"  name="start_time" class="form-control" value="{{ time.start_time|time:'H:i' }}">
                                </div>
                                <label>Closing Time</label>
                                <div class="input-group" data-date-autoclose="true">
                                    <input type="time" name="end_time"  id="end_time" class="form-control" value="{{ time.end_time|time:'H:i' }}">
                                </div>
                                <br>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
           
        </div>
        
</div>

<script>
    // Retrieve the time value from local storage if available
    const storedTime = localStorage.getItem('time');
    if (storedTime) {
      document.getElementById('start_time').value = storedTime;
      document.getElementById('end_time').value = storedTime;
 
    }
  
    // Update the time value and store it in local storage when it changes
    document.getElementById('timeField').addEventListener('change', function() {
      const newTime = this.value;
      localStorage.setItem('time', newTime);
    });
  </script>   
{% endblock %}
