{% extends 'adminapp/partials/base.html' %}
{% load static %}
{% block content %}

<style>
    .navbar-bottom {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 55px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        background-color: #ffffff;
        overflow-x: auto;
        justify-content: space-evenly;
        display: flex;
        flex-direction: column;
    }

    .th {
        text-align: center;

    }

    .td2 {
        text-align: center;
    }

    .td3 {
        text-align: center;
    }

    .th1,
    .td1 {
        text-align: center;
    }


</style>
<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'adminapp:index' %}"><i class="icon-home"></i></a>
                        </li>
                        <li class="breadcrumb-item">Count Wise Report</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row clearfix" style="padding-bottom: 50px;">
            <form method="POST">
                {% csrf_token %}
                <div class="col-lg-12 col-md-12 col-sm-12"  style="padding-left: 0px;padding-top: 0px;">
                        <div class="body">
                            <div class="col-lg-12">
                                <div class="card" style="background-color:antiquewhite;padding-left: 10px;padding-top: 10px;padding-right: 10px;padding-bottom: 10px;">

                                    <div class="body tbody">
                                        <div class="row clearfix">

                                            <div class="col-md-12 col-12">
                                                <div class="form-group">
                                                    <input type="date" class="form-control" id="from-date"
                                                        name="from-date">
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-12">
                                                <div class="form-group">
                                                    <input type="date" class="form-control" id="to-date" name="to-date">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <label class="fancy-radio"><input name="select-lsk" value="all"
                                                        type="radio" checked><span><i></i>ALL</span></label>
                                                <label class="fancy-radio"><input name="select-lsk" value="a_b_c"
                                                        type="radio"><span><i></i>A/B/C</span></label>
                                                <label class="fancy-radio"><input name="select-lsk" value="ab_bc_ac"
                                                        type="radio"><span><i></i>AB/BC/AC</span></label>
                                                <label class="fancy-radio"><input name="select-lsk" value="super"
                                                        type="radio"><span><i></i>Super</span></label>
                                                <label class="fancy-radio"><input name="select-lsk" value="box"
                                                        type="radio"><span><i></i>Box</span></label>
                                            </div>
                                            <div class="col-md-12 col-12">
                                                <div class="form-group">
                                                    <select class="form-control show-tick ms select2"
                                                        data-placeholder="Select" name="time" id="time">
                                                        <option value="all">All Times</option>
                                                        {% for time in times %}
                                                        <option value="{{time.id}}">{{time.game_time}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-lg-12  text-right">
                                    
                                                <button type="submit" class="btn btn-primary">Search</button>
                                                <button class="btn btn-primary" id="pdfButton" onclick="generateAndOpenPDF()" type="submit">Download</button>

                                        </div>
                                        </div>

                                    </div>

                                </div>
            </form>
            </div>
            <div class="body body-content" style="padding-left: 0px;padding-right: 0px;">
                <div class="table-responsive" style="padding-left: 0px;padding-right: 0px;">
                    <div class="col-lg-12 "style="padding-left: 0px;padding-right: 0px;padding: top 0px;">
                        <div class="card" style="background-color:rgb(213, 255, 205);padding-left: 0px;padding-right: 0px;">

                            <div class="body main-table">

                                <div class="table-responsive" >
                                    <table class="table table-bordered table-striped " id="table">

                                        
                                        <thead>


                                            <tr  class="l-blue">
                                                <th class="th">Particular</th>
                                                <th class="th">Number</th>
                                                <th class="th">Count</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for game in agent_games %}
                                            <tr class="l-pink">
                                                <td class="td2">{{game.LSK}}</td>
                                                <td class="td3">{{game.number}}</td>
                                                <td class="td2">{{game.count}}</td>
                                            </tr>
                                            {% endfor %}
                                            {% for game in dealer_games %}
                                            <tr class="l-turquoise">
                                                <td class="td2">{{game.LSK}}</td>
                                                <td class="td3">{{game.number}}</td>
                                                <td class="td2">{{game.count}}</td>

                                            </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                    

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


<nav class="navbar-bottom  l-parpl" id="btotal">
    <table>
        <thead>
            <tr>
                <th class="th1">TOTAL COUNT</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="td1">{{total_count.total_count}}</td>
            </tr>
        </tbody>
    </table>
</nav>




<div id="pdftab">
    <h3 style="display: inline-block">Count Sales Report</h3>
    <h3 id="demo" style="display: inline-block"></h3>
    <h3 id="demo1" style="display: inline-block"></h3>
    <h3 id="demo4" style="display: inline-block;"></h3>


    <h3 id="demo"></h3>
    <h3 id="demo1"></h3>
    <h3 id="demo3"></h3>
    <hr>
    <div class="body">


      
        <div class="table-responsive">
            <table class="table table-bordered table-striped " id="table" style="border: 2px ; width: 100%;height: 30%;">

                
                <thead>


                    <tr  class="l-blue" style="text-align: center;">
                        <th class="th">Particular</th>
                        <th class="th">Number</th>
                        <th class="th">Count</th>

                    </tr>
                </thead>
                <tbody>
                    {% for game in agent_games %}
                    <tr class="l-pink" style="text-align: center;">
                        <td class="td2">{{game.LSK}}</td>
                        <td class="td3">{{game.number}}</td>
                        <td class="td2">{{game.count}}</td>
                    </tr>
                    {% endfor %}
                    {% for game in dealer_games %}
                    <tr class="l-turquoise" style="text-align: center;">
                        <td class="td2">{{game.LSK}}</td>
                        <td class="td3">{{game.number}}</td>
                        <td class="td2">{{game.count}}</td>

                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            <hr>
            <div class="col-md-12 text-right" id="totalcount">
                <h6>TOTAL COUNT : {{total_count.total_count}}</h6>
            </div>

        </div>

    </div>

</div>










<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#summary-button").change(function () {
            if (this.checked) {
                $(".summary-row").show(); // Show the row when the checkbox is checked
                $(".not-summary").hide();
            } else {
                $(".summary-row").hide(); // Hide the row when the checkbox is unchecked
                $(".not-summary").show();
            }
        });
    });
</script>
<script>
    // Get the current date in the format "YYYY-MM-DD"
    function getCurrentDate() {
        const now = new Date();
        const year = now.getFullYear();
        const month = (now.getMonth() + 1).toString().padStart(2, '0');
        const day = now.getDate().toString().padStart(2, '0');
        return `${year}-${month}-${day}`;
    }

    // Check if selected_from and selected_to are defined
    var selectedFrom = "{{selected_from}}";
    var selectedTo = "{{selected_to}}";

    if (selectedFrom && selectedTo) {
        document.getElementById('from-date').value = selectedFrom;
        document.getElementById('to-date').value = selectedTo;
    } else {
        document.getElementById('from-date').value = getCurrentDate();
        document.getElementById('to-date').value = getCurrentDate();
    }
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {

        var radioInputs = document.getElementsByName("select-lsk");
        var selectTime = document.getElementById("time");
        // Set the selected value based on the selected_dealer variable
        selectTime.value = "{{ selected_time }}";
        selected_lsk = "{{ selected_lsk }}";
        for (var i = 0; i < radioInputs.length; i++) {
            if (radioInputs[i].value === selected_lsk) {
                radioInputs[i].checked = true;
                break; // Exit the loop once the correct radio input is found
            }
        }

    });
</script>

<script>

    const x = document.getElementById("from-date");
    const y = document.getElementById("to-date");

    let currentVal = x.value;
    let currentValue = y.value;

    const daysOfWeek = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];

    let fromDate = new Date(currentVal);
    let toDate = new Date(currentValue);

    let fromDayOfWeek = daysOfWeek[fromDate.getDay()];
    let toDayOfWeek = daysOfWeek[toDate.getDay()];

    document.getElementById("demo").innerHTML = " : " + currentVal + " (" + fromDayOfWeek + ")";
    document.getElementById("demo1").innerHTML = "&nbsp; to &nbsp;" + currentValue + " (" + toDayOfWeek + ")";
    document.getElementById("demo4").innerHTML = " : " + "{{ selected_game_time }}";



</script>


<script>
    //   pdftab hide

    document.addEventListener("DOMContentLoaded", function () {
        // Hide the pdftab div when the page loads
        var pdftab = document.getElementById("pdftab");
        if (pdftab) {
            pdftab.style.display = "none";
        }
    });
</script>

<script src="https://rawgit.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>

<script>
    function generateAndOpenPDF() {
        var dateFrom = document.getElementById('from-date').value;
        var dateTo = document.getElementById('to-date').value;
        // Disable the button to prevent multiple clicks
        var pdfButton = document.getElementById("pdfButton");
        if (pdfButton) {
            pdfButton.disabled = true;
        }

        var pdftab = document.getElementById("pdftab");

        // Show the pdftab div when generateAndOpenPDF function is called
        if (pdftab) {
            pdftab.style.display = "block"; // or "inline" or "inline-block" depending on your layout
        }

        var element = document.getElementById('pdftab');
        if (!element) {
            console.error("Element with ID 'pdftab' not found.");

            // Re-enable the button in case of an error
            if (pdfButton) {
                pdfButton.disabled = false;
            }

            return;
        }

        var rowsPerPage = 10; // Number of rows to display per page

        // Configuration options for html2pdf
        var options = {
            margin: 10,
            filename: 'Countwise Report -' + dateFrom + ' to ' + dateTo + ' - ' + '{{ selected_game_time }}',
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: { scale: 2 },
            jsPDF: { unit: 'mm', format: 'a3', orientation: 'portrait' },
        };

        // Call html2pdf with the specified options
        html2pdf(element, options)
            .then(function (pdf) {
                var totalPages = pdf.internal.getNumberOfPages();

                for (var i = 1; i <= totalPages; i++) {
                    pdf.setPage(i);
                    pdf.setFontSize(10);
                    pdf.setTextColor(150);

                    // Calculate the range of rows to display on this page
                    var startRow = (i - 1) * rowsPerPage;
                    var endRow = Math.min(i * rowsPerPage, element.rows.length);

                    // Loop through the rows and display only the selected range
                    for (var j = startRow; j < endRow; j++) {
                        var row = element.rows[j];
                        var cells = row.getElementsByTagName('td');

                        for (var k = 0; k < cells.length; k++) {
                            pdf.text(cells[k].innerText, 20 + k * 30, 15 + (j % rowsPerPage) * 10);
                        }
                    }

                    pdf.text('Footer content', 20, pdf.internal.pageSize.height - 40);
                }

                // Get the PDF data as a Blob
                var pdfBlob = pdf.output('blob');

                // Create a link to the Blob data with the Google Drive viewer link
                var driveViewerLink = 'https://drive.google.com/viewerng/viewer?embedded=true&url=' + encodeURIComponent(URL.createObjectURL(pdfBlob));

                // Open the link in a new tab
                window.open(driveViewerLink, '_blank');

                // Hide the pdftab div after generating and opening the PDF
                if (pdftab) {
                    pdftab.style.display = "none";
                }

                // Re-enable the button after generating and opening the PDF
                if (pdfButton) {
                    pdfButton.disabled = false;
                }

                console.log("PDF generated and opened successfully:", pdf);
            })
            .catch(function (error) {
                console.error("Error generating PDF:", error);

                // Restore the display property of the pdftab div in case of an error
                if (pdftab) {
                    pdftab.style.display = "none";
                }

                // Re-enable the button in case of an error
                if (pdfButton) {
                    pdfButton.disabled = false;
                }
            });
    }

</script>



{% endblock %}