{% extends 'adminapp/partials/base.html' %}
{% load static %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<style>
    .expand-row{
        background-color: rgb(46, 206, 255);
    }
</style>

<style>
    .table-cell {
        border: 1px solid #d2d2d2; /* Add a 1px black border to each cell */
        text-align: center;
}
    .navbar-bottom {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 55px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        background-color: #ffffff;
        overflow-x: auto;
        justify-content: space-evenly;
        display: flex;
        flex-direction: column;
    }

    .th, .td{
        text-align: center;
    }

    th, td{
        text-align: center;
    }


/* print start here */


@media screen {


#dateprint {
    display: none;
}

#totalcount {
    display: none;
}



#printThisDiv {
display: none;
}

}

@media print {

#header,
#left-sidebar,
.navbar-toggler,
.a,
.serch,
.header,
.button,
#printbutton {
    display: none !important;
    content: none !important;
}

.page-titles,
h1,
h2,
h3 {
    display: none;

}

.page-wrapper>.content {
    padding: 0 !important;
    padding-left: 0%;
    padding-right: 0%;
}

.page-wrapper {
    padding-top: 0%;
}

#table,
th,
td {
    table-layout: fixed;

    width: 100%;
    height: 30%;
    table-layout: auto;
    border: 1px solid black;
    border-collapse: collapse;


}

#dateprint {
    display: block;
}

#total {
    display: block;
}

.page-main-content {
    padding-top: 0px;
}



#btotal {
    display: none;
}

th,
.td {
    text-align: center;
    padding: 5px;
    border-collapse: collapse;
}


}
/* print css end */

</style>

<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row header">
                <div class="col-lg-5 col-md-8 col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'dealer:index' %}"><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item active">Daily Report</li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card serch" style="background-color:antiquewhite"> 

                    <div class="body">
                        <form method="POST">
                            {% csrf_token %}
                            <ul class="nav nav-tabs-new2">
                                <div class="col-lg-2 col-md-6 col-6">
                                    <div class="form-group">
                                        <label for="tax-id" class="control-label">From</label>
                                        <input type="date" class="form-control" id="from-date" name="from-date">
                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-6 col-6">
                                    <div class="form-group">
                                        <label for="tax-id" class="control-label">To</label>
                                        <input type="date" class="form-control" id="to-date" name="to-date">
                                    </div>
                                </div>
                                <div class="col-md-6 col-6">
                                    <div class="form-group">
                                        <select class="form-control show-tick" data-placeholder="Select" name="select-dealer" id="aioConceptName">
                                            <option value="all">All</option>
                                            {% for agent in agents %}
                                            <option value="{{ agent.id }}">{{agent.user}}</option>
                                            {% endfor %}
                                         </select>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-6 col-6">
                                    <div class="form-group">
                                        <div class="mb-3">
                                            <select class="form-control show-tick ms select2" data-placeholder="Select"
                                                name="select-time" id="time">
                                                <option value="all">All Times</option>
                                                {% for time in times %}
                                                <option value="{{time.id}}">{{time.game_time}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-2 col-md-6 col-6">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Search</button>
                                        
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-6 col-6">
                                    <div class="form-group">
                                        <button class="btn btn-primary" id="printbutton" onclick="document.title = 'Daily Report- {{selected_from}} to {{selected_to}} - {{ selected_game_time.game_time }}';printDiv('printThisDiv')" type="submit">Print </button>
                                    </div>
                                </div>
                               
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid" style="padding-left: 0px;padding-right: 0px;padding-top: 0px;">
            <div class="row clearfix">
                <div class="col-lg-12" style="padding-left: 0px;padding-right: 0px;">
                    <div class="card l-blue" style="padding-left: 0px;padding-right: 0px;">
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table m-b-0">
                                    
                                    <thead>
                                        <tr class="l-pink">
                                            <th>Date</th>
                                            <th>Dealer</th>
                                            <th>T.Sale</th>
                                            <th>T.W.Amount</th>
                                            <th>Balance</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for bill in dealer_bills %}
                                            <tr class="l-blue">
                                                <td>{{ bill.created_at|date:"N j, Y" }}<br>{{ bill.created_at|time:"H:i" }}</td>
                                                {% if bill.user.agent %}
                                                    <td>{{ bill.user.agent.user }}</td>  {# Display the agent's name for an agent's bill #}
                                                {% else %}
                                                    <td>{{ bill.user.dealer.agent.user }}</td>  {# Display the agent's name for a dealer's bill #}
                                                {% endif %}
                                                <td>{{ bill.total_c_amount|floatformat:2 }}</td>
                                                <td>{{ bill.win_amount|floatformat:2 }}</td>
                                                <td>{{ bill.total_d_amount|floatformat:2 }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                                <div class="col-md-12 text-right" id="totalcount">
                                    <h6>Sales Amount :{{total_c_amount.total_c_amount|floatformat:2}}</h6>
                                    <h6>Win Amount : {{total_winning|floatformat:2 }}</h6>
                                    <h6>Balance : {{total_balance|floatformat:2 }}</h6>
                                </div>
                            </div>
                            <div  style="padding-top: 30px;"></div>
                          
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <nav class="navbar-bottom  l-parpl" id="btotal" >
        <table >
            <thead>
                <tr >
                     <th class="th">Sales Amount</th>
                     <th class="th">Win Amount</th>
                     <th class="th">Balance</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="td">{{total_c_amount.total_c_amount|floatformat:2}}</td>
                    <td class="td">{{total_winning|floatformat:2 }}</td>
                    <td class="td">{{total_balance|floatformat:2 }}</td>
                </tr>
            </tbody>
        </table>
</nav>

<div id="printThisDiv">
    <h3 style="display: inline-block">Daily Report</h3>
    <h3 id="demo" style="display: inline-block"></h3>
    <h3 id="demo1" style="display: inline-block"></h3>
    <h3 id="demo4" style="display: inline-block;"></h3>
    <h3 id="demo"></h3>
    <h3 id="demo1"></h3>
    <h3 id="demo3"></h3>
    <hr>
    <div class="body">
        <div class="table-responsive">
            <table class="table m-b-0" style="border: 2px ; width: 100%;">
               
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Dealer</th>
                        <th>T.Sale</th>
                        <th>T.W.Amount</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bill in dealer_bills %}
                        <tr class="l-blue" style="text-align: center;">
                            <td>{{ bill.created_at|date:"N j, Y" }}<br>{{ bill.created_at|time:"H:i" }}</td>
                            {% if bill.user.agent %}
                                <td>{{ bill.user.agent.user }}</td>  {# Display the agent's name for an agent's bill #}
                            {% else %}
                                <td>{{ bill.user.dealer.agent.user }}</td>  {# Display the agent's name for a dealer's bill #}
                            {% endif %}
                            <td>{{ bill.total_c_amount|floatformat:2 }}</td>
                            <td>{{ bill.win_amount|floatformat:2 }}</td>
                            <td>{{ bill.total_d_amount|floatformat:2 }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr>
            <div class="col-md-12 text-right" id="totalcount">
                <h5>Sales Amount :{{total_c_amount.total_c_amount|floatformat:2}}</h5>
                <h5>Win Amount : {{total_winning|floatformat:2 }}</h5>
                <h5>Balance : {{total_balance|floatformat:2 }}</h5>
            </div>
        </div>
    </div>

</div>
    

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $("#expand-button").change(function() {
            if (this.checked) {
                $(".expand-row").show(); // Show the row when the checkbox is checked
            } else {
                $(".expand-row").hide(); // Hide the row when the checkbox is unchecked
            }
        });
    });
</script>

<script>
    // Get the current date in the format "YYYY-MM-DD"
    function getCurrentDate() {
        const now = new Date();
        const year = now.getFullYear();
        const month = (now.getMonth() + 1).toString().padStart(2, '0');
        const day = now.getDate().toString().padStart(2, '0');
        return `${year}-${month}-${day}`;
    }

    // Check if selected_from and selected_to are defined
    var selectedFrom = "{{selected_from}}";
    var selectedTo = "{{selected_to}}";

    if (selectedFrom && selectedTo) {
        document.getElementById('from-date').value = selectedFrom;
        document.getElementById('to-date').value = selectedTo;
    } else {
        document.getElementById('from-date').value = getCurrentDate();
        document.getElementById('to-date').value = getCurrentDate();
    }
</script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Get the select element by its ID
        var selectFrom = document.getElementById("from-date");
        var selectTo = document.getElementById("to-date");
        var selectDealer = document.getElementById("aioConceptName");
        var selectTime = document.getElementById("time");

        var selectedFrom = "{{selected_from}}";
        var selectedTo = "{{selected_to}}";

        if (selectedFrom && selectedTo) {
            document.getElementById('from-date').value = selectedFrom;
            document.getElementById('to-date').value = selectedTo;
        } else {
            document.getElementById('from-date').value = getCurrentDate();
            document.getElementById('to-date').value = getCurrentDate();
        }

        // Set the selected value based on the selected_dealer variable
        console.log("{{selected_dealer}}")
        selectDealer.value = "{{ selected_dealer }}";
        selectTime.value = "{{ selected_time }}";
        selected_lsk = "{{ selected_lsk }}";
        for (var i = 0; i < radioInputs.length; i++) {
            if (radioInputs[i].value === selected_lsk) {
                radioInputs[i].checked = true;
                break; // Exit the loop once the correct radio input is found
            }
        }

    });
</script>




<!-- selected agent or dealer or all -->
<script>
    $(document).on('change','#aioConceptName' ,function(){
  var val = $('#aioConceptName option:selected').val();
  var text = $('#aioConceptName option:selected').text();
  $('.result').text("Select Value = " + val);
  $('.result').append("<br>Select Text = " + text);
})
</script>


<script>
    function printDiv(elem) {
        var mywindow = window.open();
        var content = document.getElementById(elem).innerHTML;
        var realContent = document.body.innerHTML;
        mywindow.document.write(content);
        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10*/
        mywindow.print();
        document.body.innerHTML = realContent;
        mywindow.close();
        return true;
    }
</script>

<script>

    const x = document.getElementById("from-date");
    const y = document.getElementById("to-date");

    let currentVal = x.value;
    let currentValue = y.value;

    const daysOfWeek = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];

    let fromDate = new Date(currentVal);
    let toDate = new Date(currentValue);

    let fromDayOfWeek = daysOfWeek[fromDate.getDay()];
    let toDayOfWeek = daysOfWeek[toDate.getDay()];

    document.getElementById("demo").innerHTML = " : " + currentVal + " (" + fromDayOfWeek + ")";
    document.getElementById("demo1").innerHTML = "&nbsp; to &nbsp;" + currentValue + " (" + toDayOfWeek + ")";
    document.getElementById("demo4").innerHTML = " : " + "{{ selected_game_time.game_time }}";


</script>
    {% endblock %}