{% extends 'adminapp/partials/base.html' %}
{% load static %}
{% block content %}
<style>
    .table-cell {
        border: 1px solid #d2d2d2; /* Add a 1px black border to each cell */
        text-align: center;
}

    .nav {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 55px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        background-color: #ffffff;
        overflow-x: auto;
        justify-content: space-evenly;
        display: flex;
        flex-direction: column;
    }

    th, td{
        text-align: center;
    }
</style>
<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-12">                        
                    <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a>  Edit Bill </h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'adminapp:index' %}"><i class="icon-home"></i></a></li>                            
                    </ul>
                </div>            
             
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="body">
                        <div class="col-lg-12">
                            <div class="card">
                                
                                <div class="body">
                                    <div class="row clearfix">
                                        <div class="col-lg-2 col-md-6 col-sm-12">
                                            <div class="form-group"> 
                                                <form method="POST">
                                                {% csrf_token %}
                                                <div class="row">
                                                <div class="col-lg-6 col-12">
                                                <label for="dealer-select" class="control-label">Select Agent</label>
                                                <select class="form-control" name="dealer-select" data-placeholder="Select">
                                                    <option value="all">All</option>
                                                    {% for agent in agents %}
                                                        <option value="{{ agent.user }}">{{ agent.user }}</option>
                                                    {% endfor %}
                                                </select>
                                                </div>  
                                                </div>
                                                <button type="submit" class="btn btn-primary mt-3">Search</button>
                                                </form>
                                            </div>
                                        </div>
                                      
                                    </div>
                                   
                                 </div>
                                
                                <div class="body">
                                    <div class="table-responsive">
                                        <table class="table m-b-0">
                                            <thead>
                                                <tr>
                                                     <th>Date</th>
                                                     <th>User</th>
                                                     <th>Bill</th>
                                                     <th>Count </th>
                                                     <th>S Amount </th>
                                                     <th>C Amount </th>
                                                     <th>#</th>
                                                </tr>
                                            </thead>
                                            <tbody id="bill-table">
                                                {% for bill in bills %}
                                                <!-- hello -->
                                                <tr data-dealer="{{ bill.agent.user }}">
                                                    <td class="table-cell">{{bill.date}}</td>
                                                    {% if bill.user.agent.user %}
                                                    <td class="table-cell">{{bill.user}}</td>
                                                    {% else %}
                                                    <td>{{ bill.user.dealer.agent.user }}</td>
                                                    {% endif %}
                                                    <td class="table-cell">{{bill.id}}</td>
                                                    <td class="table-cell">{{bill.total_count}}</td>
                                                    <td class="table-cell">{{bill.total_d_amount}}</td>
                                                    <td class="table-cell">{{bill.total_c_amount}}</td>
                                                    <td class="table-cell"><a href="{% url 'adminapp:delete_bill' bill.id %}">Edit</a></td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                
                            </div>
                           
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<nav class="nav">
            <table>
                <thead>
                    <tr>
                         <th class="th">Total Count</th>
                         <th class="th">A.Amount</th>
                         <th class="th">C.Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="td">{{totals.total_count}}</td>
                        <td class="td">{{totals.total_d_amount|floatformat:2 }}</td>
                        <td class="td">{{totals.total_c_amount|floatformat:2 }}</td>
                    </tr>
                </tbody>
            </table>
</nav>


{% endblock %} 