{% extends 'adminapp/partials/base.html' %}
{% load static %}
{% block content %}

<style>
    .expand-row{
        background-color: rgb(46, 206, 255);
    }
</style>

<style>
    .table-cell {
        border: 1px solid #d2d2d2; /* Add a 1px black border to each cell */
        text-align: center;
}
    .navbar-bottom {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 55px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        background-color: #ffffff;
        overflow-x: auto;
        justify-content: space-evenly;
        display: flex;
        flex-direction: column;
    }

    .th, .td{
        text-align: center;
    }

    th, td{
        text-align: center;
    }
/* print start here */


@media screen {


#dateprint {
    display: none;
}

#totalcount {
    display: none;
}



#printThisDiv {
display: none;
}
}


@media print {

#header,
#left-sidebar,
.navbar-toggler,
.a,
.serch,
.header,
.button,
#printbutton {
    display: none !important;
    content: none !important;
}

.page-titles,
h1,
h2,
h3 {
    display: none;

}

.page-wrapper>.content {
    padding: 0 !important;
    padding-left: 0%;
    padding-right: 0%;
}

.page-wrapper {
    padding-top: 0%;
}

#table,
th,
td {
    table-layout: fixed;
    size: 36cm;
    width: 142%;

    table-layout: auto;
    border: 1px solid black;
    border-collapse: collapse;


}

#dateprint {
    display: block;
}

#total {
    display: block;
}

.page-main-content {
    padding-top: 0px;
}



#btotal {
    display: none;
}

th,
.td {
    text-align: center;
}


}
/* print css end */
</style>

<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row header">
                <div class="col-lg-5 col-md-8 col-sm-12">
                    <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                class="fa fa-arrow-left"></i></a> Sales Report</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'agent:index' %}"><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item active">Sales Report</li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card serch" style="background-color:antiquewhite">

                    <div class="body">
                        <form method="POST">
                            {% csrf_token %}
                            <ul class="nav nav-tabs-new2">

                                <div class="col-6">
                                    <div class="form-group">
                                        <div class="mb-3">
                                            <label for="tax-id" class="control-label">Select Agent</label>
                                            <select class="form-control show-tick" data-placeholder="Select" name="select-dealer" id="agent">
                                                <option value="all">All</option>
                                                {% for agent in agents %}
                                                <option value="{{ agent.id }}">{{agent.user}}</option>
                                                {% endfor %}
                                             </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="tax-id" class="control-label">Select Time</label>
                                        <div class="mb-3">
                                            <select class="form-control show-tick ms select2" data-placeholder="Select"
                                                name="select-time" id="time">
                                                <option value="all">All Times</option>
                                                {% for time in times %}
                                                <option value="{{time.id}}">{{time.game_time}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-2 col-md-6 col-6">
                                    <div class="form-group">
                                        <label for="tax-id" class="control-label">From</label>
                                        <input type="date" class="form-control" id="from-date" name="from-date">
                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-6 col-6">
                                    <div class="form-group">
                                        <label for="tax-id" class="control-label">To</label>
                                        <input type="date" class="form-control" id="to-date" name="to-date">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label class="fancy-radio"><input name="select-lsk" value="all" type="radio" checked><span><i></i>ALL</span></label>
                                    <label class="fancy-radio"><input name="select-lsk" value="a_b_c" type="radio"><span><i></i>A/B/C</span></label>
                                    <label class="fancy-radio"><input name="select-lsk" value="ab_bc_ac" type="radio"><span><i></i>AB/BC/AC</span></label>
                                    <label class="fancy-radio"><input name="select-lsk" value="super" type="radio"><span><i></i>Super</span></label>
                                    <label class="fancy-radio"><input name="select-lsk" value="box" type="radio"><span><i></i>Box</span></label>
                                </div>
                                
                                <div class="col-lg-2 col-md-6 col-6">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Search</button>
                                        
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-6 col-6">
                                    <div class="form-group">
                                        <button class="btn btn-primary" id="printbutton"
                                        onclick="printDiv('printThisDiv')" type="submit">Print </button>


                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-6 col-6">
                                    <div class="form-group">
                                        <label class="control-inline fancy-checkbox ml-auto">
                                            <input type="checkbox" name="checkbox2" id="expand-button">
                                            <span>Expand</span>
                                        </label>
                                    </div>
                                </div>
                               
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid l-blue">
            <div class="row clearfix">
                <div class="col-lg-12 ">
                    <div class="card l-blue">
                        <div class="body l-blue">
                            <div class="table-responsive">
                                <table class="table m-b-0">
                                    
                                    <thead>
                                        <tr class="l-blue">
                                            <th>Date</th>
                                            <th>Agent</th>
                                            <th>Bill</th>
                                            <th>Count</th>
                                            <th>S.Amt</th>
                                            <th>C.Amt</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for bill in agent_bills %}
                                        <tr class="main-row l-pink">
                                            <td>{{ bill.created_at|date:"N j, Y" }}<br>{{ bill.created_at|time:"H:i" }}</td>
                                            {% if bill.user.agent.user %}
                                            <td>{{ bill.user }}</td>
                                            {% else %}
                                            <td>{{ bill.user.dealer.agent.user }}</td>
                                            {% endif %}
                                            <td>{{ bill.id }}</td>
                                            <td>{{ bill.total_count }}</td>
                                            <td>{{ bill.total_d_amount|floatformat:2 }}</td>
                                            <td>{{ bill.total_c_amount|floatformat:2 }}</td>
                                        </tr>

                                        {% for game in bill.agent_games.all %}
                                            {% if game in agent_games %}
                                            <tr class="expand-row grouped-row" style="display: none;">
                                                <td>#</td>
                                                <td>{{ game.LSK }}</td>
                                                <td>{{ game.number }}</td>
                                                <td>{{ game.count }}</td>
                                                <td>{{ game.d_amount|floatformat:2 }}</td>
                                                <td>{{ game.c_amount|floatformat:2 }}</td>
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                        {% endfor %}
                                        
                                        {% for bill in dealer_bills %}
                                        <tr class="main-row l-pink">
                                            <td>{{ bill.created_at|date:"N j, Y" }}<br>{{ bill.created_at|time:"H:i" }}</td>
                                            {% if bill.user.agent.user %}
                                            <td>{{ bill.user }}</td>
                                            {% else %}
                                            <td>{{ bill.user.dealer.agent.user }}</td>
                                            {% endif %}
                                            <td>{{ bill.id }}</td>
                                            <td>{{ bill.total_count }}</td>
                                            <td>{{ bill.total_d_amount|floatformat:2 }}</td>
                                            <td>{{ bill.total_c_amount|floatformat:2 }}</td>
                                        </tr>

                                        {% for game in bill.dealer_games.all %}
                                            {% if game in dealer_games %}
                                            <tr class="expand-row grouped-row" style="display: none;">
                                                <td>#</td>
                                                <td>{{ game.LSK }}</td>
                                                <td>{{ game.number }}</td>
                                                <td>{{ game.count }}</td>
                                                <td>{{ game.d_amount|floatformat:2 }}</td>
                                                <td>{{ game.c_amount|floatformat:2 }}</td>
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                        {% endfor %}
                                    

                                    </tbody>
                                </table>
                                <div class="col-md-12 text-right" id="totalcount">
                                    <h6>Total Count:{{totals.total_count}}</h6>
                                    <h6>A.Amount: {{totals.total_d_amount|floatformat:2 }}</h6>
                                    <h6>C.Amount: {{totals.total_c_amount|floatformat:2 }}</h6>
                                </div>
                            </div>
                            <div class="text-right" style="padding-top: 50px;"> 
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <nav class="navbar-bottom  l-parpl" id="btotal">
        <table>
            <thead>
                <tr>
                     <th class="th">Total Count</th>
                     <th class="th">A.Amount</th>
                     <th class="th">C.Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="td">{{totals.total_count}}</td>
                    <td class="td">{{totals.total_d_amount|floatformat:2 }}</td>
                    <td class="td">{{totals.total_c_amount|floatformat:2 }}</td>
                </tr>
            </tbody>
        </table>
</nav>

<div id="printThisDiv">
    <h3 style="display: inline-block">Sales Report</h3>
    <h3 id="demo" style="display: inline-block"></h3>
    <h3 id="demo1" style="display: inline-block"></h3>

    <h3 id="demo"></h3>
    <h3 id="demo1"></h3>
    <h3 id="demo3"></h3>
    <hr>
    <div class="body">
        <table class="table m-b-0"  style=" width: 100%; height: 30%;">
                                    
            <thead>
                <tr class="l-blue">
                    <th>Date</th>
                    <th>Agent</th>
                    <th>Bill</th>
                    <th>Count</th>
                    <th>S.Amt</th>
                    <th>C.Amt</th>
                </tr>
            </thead>
            <tbody>
                {% for bill in agent_bills %}
                <tr class="main-row l-pink"  style="text-align: center;">
                    <td>{{ bill.created_at|date:"N j, Y" }}<br>{{ bill.created_at|time:"H:i" }}</td>
                    {% if bill.user.agent.user %}
                    <td>{{ bill.user }}</td>
                    {% else %}
                    <td>{{ bill.user.dealer.agent.user }}</td>
                    {% endif %}
                    <td>{{ bill.id }}</td>
                    <td>{{ bill.total_count }}</td>
                    <td>{{ bill.total_d_amount|floatformat:2 }}</td>
                    <td>{{ bill.total_c_amount|floatformat:2 }}</td>
                </tr>
              

                {% for game in bill.agent_games.all %}
                    {% if game in agent_games %}
                    <tr class="expand-row grouped-row" style="text-align: center;">
                        <td>#</td>
                        <td>{{ game.LSK }}</td>
                        <td>{{ game.number }}</td>
                        <td>{{ game.count }}</td>
                        <td>{{ game.d_amount|floatformat:2 }}</td>
                        <td>{{ game.c_amount|floatformat:2 }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
                {% endfor %}
                
                
                {% for bill in dealer_bills %}
                <tr class="main-row l-pink" style="text-align: center;">
                    <td>{{ bill.created_at|date:"N j, Y" }}<br>{{ bill.created_at|time:"H:i" }}</td>
                    {% if bill.user.agent.user %}
                    <td>{{ bill.user }}</td>
                    {% else %}
                    <td>{{ bill.user.dealer.agent.user }}</td>
                    {% endif %}
                    <td>{{ bill.id }}</td>
                    <td>{{ bill.total_count }}</td>
                    <td>{{ bill.total_d_amount|floatformat:2 }}</td>
                    <td>{{ bill.total_c_amount|floatformat:2 }}</td>
                </tr>

                {% for game in bill.dealer_games.all %}
                    {% if game in dealer_games %}
                    <tr class="expand-row grouped-row" style="text-align: center;">
                        <td>#</td>
                        <td>{{ game.LSK }}</td>
                        <td>{{ game.number }}</td>
                        <td>{{ game.count }}</td>
                        <td>{{ game.d_amount|floatformat:2 }}</td>
                        <td>{{ game.c_amount|floatformat:2 }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
                {% endfor %}
            

            </tbody>
        </table>
        <hr>
        <div class="col-md-12 text-right" id="totalcount">
            <h5>Total Count:{{totals.total_count}}</h5>
            <h5>A.Amount: {{totals.total_d_amount|floatformat:2 }}</h5>
            <h5>C.Amount: {{totals.total_c_amount|floatformat:2 }}</h5>
        </div>

    </div>

</div>
    


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $("#expand-button").change(function() {
            if (this.checked) {
                $(".expand-row").show(); // Show the row when the checkbox is checked
            } else {
                $(".expand-row").hide(); // Hide the row when the checkbox is unchecked
            }
        });
    });
</script>

<script>
    // Get the current date in the format "YYYY-MM-DD"
    function getCurrentDate() {
        const now = new Date();
        const year = now.getFullYear();
        const month = (now.getMonth() + 1).toString().padStart(2, '0');
        const day = now.getDate().toString().padStart(2, '0');
        return `${year}-${month}-${day}`;
    }

    // Check if selected_from and selected_to are defined
    var selectedFrom = "{{selected_from}}";
    var selectedTo = "{{selected_to}}";

    if (selectedFrom && selectedTo) {
        document.getElementById('from-date').value = selectedFrom;
        document.getElementById('to-date').value = selectedTo;
    } else {
        document.getElementById('from-date').value = getCurrentDate();
        document.getElementById('to-date').value = getCurrentDate();
    }
</script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Get the select element by its ID
        var selectDealer = document.getElementById("agent");
        var selectTime = document.getElementById("time");
        var selectFrom = document.getElementById("from-date");
        var selectTo = document.getElementById("to-date");
        var radioInputs = document.getElementsByName("select-lsk");

        // Set the selected value based on the selected_dealer variable
        selectDealer.value = "{{ selected_dealer }}";
        selectTime.value = "{{ selected_time }}";
        selected_lsk = "{{ selected_lsk }}";
        for (var i = 0; i < radioInputs.length; i++) {
            if (radioInputs[i].value === selected_lsk) {
                radioInputs[i].checked = true;
                break; // Exit the loop once the correct radio input is found
            }
        }

    });
</script>

<script>
    function printDiv(elem) {
        var mywindow = window.open();
        var content = document.getElementById(elem).innerHTML;
        var realContent = document.body.innerHTML;
        mywindow.document.write(content);
        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10*/
        mywindow.print();
        document.body.innerHTML = realContent;
        mywindow.close();
        return true;
    }
</script>


<script>
    const x = document.getElementById("from-date");
    const y = document.getElementById("to-date");

    let currentVal = x.value;
    let currentValue = y.value;

    const daysOfWeek = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];

    let fromDate = new Date(currentVal);
    let toDate = new Date(currentValue);

    let fromDayOfWeek = daysOfWeek[fromDate.getDay()];
    let toDayOfWeek = daysOfWeek[toDate.getDay()];

    document.getElementById("demo").innerHTML = " : " + currentVal + " (" + fromDayOfWeek + ")";
    document.getElementById("demo1").innerHTML = "&nbsp; to &nbsp;" + currentValue + " (" + toDayOfWeek + ")";





</script>

    {% endblock %}