{% extends 'adminapp/partials/base.html' %}
{% load static %}
{% block content %}




<style>
    .expand-row {
        background-color: rgb(46, 206, 255);
    }
</style>

<style>
    .table-cell {
        border: 1px solid #d2d2d2;
        /* Add a 1px black border to each cell */
        text-align: center;
    }

    .navbar-bottom {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 55px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        background-color: #ffffff;
        overflow-x: auto;
        justify-content: space-evenly;
        display: flex;
        flex-direction: column;
    }

    .th,
    .td {
        text-align: center;
    }

    th,
    td {
        text-align: center;
    }

    .pagination {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    .pagination button {
        color: #007bff;
        background-color: #ffffff;
        padding: 4px 4px;
        text-decoration: none;
        border: 1px solid #ffffff;
        border-radius: 4px;
        margin: 0 4px;
    }

    .pagination button:hover {
        background-color: #007bff;
        color: white;
    }

    .pagination .active {
        background-color: #007bff;
        color: white;
    }

</style>

<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row header">
                <div class="col-lg-5 col-md-8 col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'adminapp:index' %}"><i class="icon-home"></i></a>
                        </li>
                        <li class="breadcrumb-item active">Sales Report</li>
                    </ul>
                </div>

            </div>
        </div>

        <form method="POST" id="salesReportForm">
            {% csrf_token %}
            <input type="hidden" id="currentPage" name="page" value="1">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card serch" style="background-color:antiquewhite">

                    <div class="body">
                        
                            <ul class="nav nav-tabs-new2">

                                <div class="col-6">
                                    <div class="form-group">
                                        <div class="mb-3">
                                            <label for="tax-id" class="control-label">Select Agent</label>
                                            <select class="form-control show-tick" data-placeholder="Select"
                                                name="select-agent" id="agent">
                                                <option value="all">All</option>
                                                {% for agent in agents %}
                                                <option value="{{ agent.id }}">{{agent.user}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-group">
                                        <div class="mb-3">
                                            <label for="tax-id" class="control-label">Select Dealer</label>
                                            <select class="form-control show-tick" data-placeholder="Select"
                                                name="select-dealer" id="dealer">
                                                <option value="all">All</option>
                                                {% for dealer in dealers %}
                                                <option value="{{ dealer.id }}">{{dealer.user}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-2 col-md-6 col-6">
                                    <div class="form-group">
                                        <label for="tax-id" class="control-label">From</label>
                                        <input type="date" class="form-control" id="from-date" name="from-date">
                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-6 col-6">
                                    <div class="form-group">
                                        <label for="tax-id" class="control-label">To</label>
                                        <input type="date" class="form-control" id="to-date" name="to-date">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="tax-id" class="control-label">Select Time</label>
                                        <div class="mb-3">
                                            <select class="form-control show-tick ms select2" data-placeholder="Select"
                                                name="select-time" id="time">
                                                <option value="all">All Times</option>
                                                {% for time in times %}
                                                <option value="{{time.id}}">{{time.game_time}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label class="fancy-radio"><input name="select-lsk" value="all" type="radio"
                                            checked><span><i></i>ALL</span></label>
                                    <label class="fancy-radio"><input name="select-lsk" value="a_b_c"
                                            type="radio"><span><i></i>A/B/C</span></label>
                                    <label class="fancy-radio"><input name="select-lsk" value="ab_bc_ac"
                                            type="radio"><span><i></i>AB/BC/AC</span></label>
                                    <label class="fancy-radio"><input name="select-lsk" value="super"
                                            type="radio"><span><i></i>Super</span></label>
                                    <label class="fancy-radio"><input name="select-lsk" value="box"
                                            type="radio"><span><i></i>Box</span></label>
                                </div>

                                <div class="col-lg-2 col-md-6 col-6">
                                    <div class="form-group">
                                        <button type="submit" id="search-query" class="btn btn-primary">Search</button>

                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-6 col-6">
                                    <div class="form-group">
                                        <button class="btn btn-primary" id="pdfButton" name="pdfButton"
                                            type="submit">Download</button>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-6 col-6">
                                    <div class="form-group">
                                        <label class="control-inline fancy-checkbox ml-auto">
                                            <input type="checkbox" name="checkbox2" id="expand-button">
                                            <span>Expand</span>
                                        </label>
                                    </div>
                                </div>

                            </ul>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid l-blue" id="pdfContent">
            <div class="row clearfix" style="padding-left: 0px;padding-right: 0px;">
                <div class="col-lg-12 " style="padding-left: 0px;padding-right: 0px;padding-top: 0px;">
                    <div class="card l-blue" style="padding-left: 0px;padding-right: 0px;">
                        <div class="body l-blue">
                            <div class="table-responsive">
 
                                <table class="table m-b-0">

                                    <thead>
                                        <tr class="l-blue">
                                            <th>Date</th>
                                            <th>Agent</th>
                                            <th>Bill</th>
                                            <th>Count</th>
                                            <th>S.Amt</th>
                                            <th>C.Amt</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                {% for bill in combined_bills %}
                                <tr class="main-row l-pink" style="text-align: center;">
                                    <td style="text-align: center;">{{ bill.created_at|date:"N j, Y" }}<br>{{ bill.created_at|time:"H:i" }}
                                    </td>
                                    {% if bill.user.agent.user %}
                                    <td style="text-align: center;">{{ bill.user.agent.user }}</td>
                                    <td style="text-align: center;">{{ bill.id }}</td>
                                    <td style="text-align: center;">{{ bill.total_count }}</td>
                                    <td style="text-align: center;">{{ bill.total_d_amount|floatformat:2 }}</td>
                                    <td style="text-align: center;">{{ bill.total_c_amount|floatformat:2 }}</td>
                                    {% elif bill.user.dealer.agent.user %}
                                    <td style="text-align: center;">{{ bill.user.dealer.agent.user }}</td>
                                    <td style="text-align: center;">{{ bill.id }}</td>
                                    <td style="text-align: center;">{{ bill.total_count }}</td>
                                    <td style="text-align: center;">{{ bill.total_d_amount_admin|floatformat:2 }}</td>
                                    <td style="text-align: center;">{{ bill.total_c_amount_admin|floatformat:2 }}</td>
                                    {% endif %}
                                </tr>

                                {% regroup bill.agent_games.all|dictsort:"id" by id as games_by_id %}
                                {% for group in games_by_id %}
                                    {% for game in group.list %}
                                    {% if game in agent_games %}
                                    <tr class="expand-row grouped-row" style="display: none;">
                                        <td style="text-align: center;">#</td>
                                        <td style="text-align: center;">{{ game.LSK }}</td>
                                        <td style="text-align: center;">{{ game.number }}</td>
                                        <td style="text-align: center;">{{ game.count }}</td>
                                        <td style="text-align: center;">{{ game.d_amount|floatformat:2 }}</td>
                                        <td style="text-align: center;">{{ game.c_amount|floatformat:2 }}</td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                {% endfor %}

                                {% regroup bill.dealer_games.all|dictsort:"id" by id as games_by_id %}
                                {% for group in games_by_id %}
                                    {% for game in group.list %}
                                    {% if game in dealer_games %}
                                    <tr class="expand-row grouped-row" style="display: none;">
                                        <td style="text-align: center;">#</td>
                                        <td style="text-align: center;">{{ game.LSK }}</td>
                                        <td style="text-align: center;">{{ game.number }}</td>
                                        <td style="text-align: center;">{{ game.count }}</td>
                                        <td style="text-align: center;">{{ game.d_amount_admin|floatformat:2 }}</td>
                                        <td style="text-align: center;">{{ game.c_amount_admin|floatformat:2 }}</td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                {% endfor %}

                                {% regroup bill.dealer_only_games.all|dictsort:"id" by id as games_by_id %}
                                {% for group in games_by_id %}
                                    {% for game in group.list %}
                                    {% if game in dealer_only_games %}
                                    <tr class="expand-row grouped-row" style="display: none;">
                                        <td style="text-align: center;">#</td>
                                        <td style="text-align: center;">{{ game.LSK }}</td>
                                        <td style="text-align: center;">{{ game.number }}</td>
                                        <td style="text-align: center;">{{ game.count }}</td>
                                        <td style="text-align: center;">{{ game.d_amount_admin|floatformat:2 }}</td>
                                        <td style="text-align: center;">{{ game.c_amount_admin|floatformat:2 }}</td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                {% endfor %}
                            </tbody>
                                    
                                </table>

                            
                                    <div class="pagination" style="padding-bottom: 30px;">
                                        <span class="step-links">
                                            {% if combined_bills.has_previous %}
                                                <button type="submit" class="pagination-link" name="page" value="1">&laquo; First</button>
                                                <button type="submit" class="pagination-link" name="page" value="{{ combined_bills.previous_page_number }}">Previous</button>
                                            {% endif %}
                                            
                                            <span class="current">
                                                Page {{ combined_bills.number }} of {{ combined_bills.paginator.num_pages }}.
                                            </span>                                         
                                            {% if combined_bills.has_next %}
                                            <button type="submit" class="pagination-link" name="page" value="{{ combined_bills.next_page_number }}">Next</button>
                                            <button type="submit" class="pagination-link" name="page" value="{{ combined_bills.paginator.num_pages }}">Last &raquo;</button>
                                            {% endif %}
                                        </span>
                                    </div>
                            </div>
                            <div class="text-right" style="padding-top: 20px;">

                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        </form>
    </div>

    <nav class="navbar-bottom" id="btotal">
        <table>
            <thead>
                <tr>
                    <th class="th">Total Count</th>
                    <th class="th">A.Amount</th>
                    <th class="th">C.Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="td">{{totals.total_count}}</td>
                    <td class="td">{{totals.total_d_amount|floatformat:2 }}</td>
                    <td class="td">{{totals.total_c_amount|floatformat:2 }}</td>
                </tr>
            </tbody>
        </table>
    </nav>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


    <script>
        $(document).ready(function () {
            // Add an event listener for the "change" event on the agent dropdown
            $('#agent').on('change', function () {
                var selectedAgentId = $(this).val();
                console.log(selectedAgentId)
                // Make an AJAX request to fetch dealers based on the selected agent
                $.ajax({
                    url: 'get-dealers/',  // Replace with the actual URL to fetch dealers
                    method: 'GET',
                    data: { agent_id: selectedAgentId },
                    success: function (data) {
                        // Clear existing options
                        $('#dealer').empty();
                        // Add new options based on the response
                        if (selectedAgentId !== 'all') {
                            $('#dealer').append('<option value="all">' + "All" + '</option>');
                            for (var i = 0; i < data.dealers.length; i++) {
                                $('#dealer').append('<option value="' + data.dealers[i].id + '">' + data.dealers[i].user__username + '</option>');
                            }
                        }
                    },
                    error: function () {
                        console.log('Error fetching dealers');
                    }
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#expand-button").change(function () {
                if (this.checked) {
                    $(".expand-row").show(); // Show the row when the checkbox is checked
                } else {
                    $(".expand-row").hide(); // Hide the row when the checkbox is unchecked
                }
            });
        });

    </script>

    <script>
        // Get the current date in the format "YYYY-MM-DD"
        function getCurrentDate() {
            const now = new Date();
            const year = now.getFullYear();
            const month = (now.getMonth() + 1).toString().padStart(2, '0');
            const day = now.getDate().toString().padStart(2, '0');
            return `${year}-${month}-${day}`;
        }

        // Check if selected_from and selected_to are defined
        var selectedFrom = "{{selected_from}}";
        var selectedTo = "{{selected_to}}";

        if (selectedFrom && selectedTo) {
            document.getElementById('from-date').value = selectedFrom;
            document.getElementById('to-date').value = selectedTo;
        } else {
            document.getElementById('from-date').value = getCurrentDate();
            document.getElementById('to-date').value = getCurrentDate();
        }
    </script>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Get the select element by its ID
            var selectAgent = document.getElementById("agent");
            var selectDealer = document.getElementById("dealer");
            var selectTime = document.getElementById("time");
            var selectFrom = document.getElementById("from-date");
            var selectTo = document.getElementById("to-date");
            var radioInputs = document.getElementsByName("select-lsk");


            // Set the selected value based on the selected_dealer variable
            selectAgent.value = "{{ selected_agent }}";
            selectDealer.value = "{{ selected_dealer }}";
            selectTime.value = "{{ selected_time }}";
            selected_lsk = "{{ selected_lsk }}";
            for (var i = 0; i < radioInputs.length; i++) {
                if (radioInputs[i].value === selected_lsk) {
                    radioInputs[i].checked = true;
                    break; // Exit the loop once the correct radio input is found
                }
            }

        });
    </script>





    <script>



        const x = document.getElementById("from-date");
        const y = document.getElementById("to-date");

        let currentVal = x.value;
        let currentValue = y.value;

        const daysOfWeek = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];

        let fromDate = new Date(currentVal);
        let toDate = new Date(currentValue);

        let fromDayOfWeek = daysOfWeek[fromDate.getDay()];
        let toDayOfWeek = daysOfWeek[toDate.getDay()];

        document.getElementById("demo").innerHTML = " : " + currentVal + " (" + fromDayOfWeek + ")";
        document.getElementById("demo1").innerHTML = "&nbsp; to &nbsp;" + currentValue + " (" + toDayOfWeek + ")";


        var selectedGameTime = "{{ selected_game_time }}";
        document.getElementById("demo4").innerHTML = ": " + formatTime(selectedGameTime);



    function formatTime(time) {
  // Split the time into hours and minutes
  var timeArray = time.split(":");
  var hours = timeArray[0];

  // Convert hours to 12-hour format
  var ampm = hours >= 12 ? 'PM' : 'AM';
  hours = hours % 12;
  hours = hours ? hours : 12; // Handle midnight (00:00) as 12 AM



  // Format the time in h:mm AM/PM format
  return hours + ":" +"00" + ampm;
}

    </script>



    <script>
        //   pdftab hide

        document.addEventListener("DOMContentLoaded", function () {
            // Hide the pdftab div when the page loads
            var pdftab = document.getElementById("pdftab");
            if (pdftab) {
                pdftab.style.display = "none";
            }
            console.log("{{selected_game_time}}")
        });
    </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://rawgit.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
    <!-- Include html2pdf.js from CDN -->
<script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>

    
    
    {% endblock %}  