{% extends 'adminapp/partials/base.html' %}
{% load static %}
{% block content %}

<style>
    .navbar-bottom {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 55px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        background-color: #ffffff;
        overflow-x: auto;
        justify-content: space-evenly;
        display: flex;
        flex-direction: column;
    }

    .th{
        text-align: center;
    }

    .td2{
        text-align: center;
    }
    .td3{
        text-align: center;
    }
    .th1, .td1{
        text-align: center;
    }
    /* print start here */

    @media screen {


#dateprint {
    display: none;
}

#totalcount {
    display: none;
}

#printThisDiv {
    display: none;
}

}



@media print {


#table,
th,
td {
    table-layout: fixed;
    text-align: center;
    width: 100%;
    height: 30%;
    table-layout: auto;
    border: 1px solid black;
    border-collapse: separate;

}

td {
    text-align: center;
}

#dateprint {
    display: block;
}

#total {
    display: block;
}

.page-main-content {
    padding-top: 0px;
}

.navbar-bottom {
    display: none;
}


}
/* print css end */

</style>


<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row header">
                <div class="col-lg-5 col-md-8 col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'adminapp:index' %}"><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item active"> Total Balance</li>
                    </ul>
                </div>

            </div>
        </div>







        <div class="col-lg-6 col-md-12 col-sm-12" style="padding-right: 0px;
        padding-left: 0px;
        padding-top: 0px">
            <div class="card" style="padding-left: 0px;
            padding-right: 0px;">
                <div class="header">
                    <!-- <h2>Gradient Color background <small>Add Class <code>.l-pink</code></small> </h2> -->
                   
                </div>
                <div class="body table-responsive">
                    <table class="table" style="text-align: center;">
                        <thead>
                            <tr>
                            
                                <th> Agents</th>
                                <th>Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in report_data %}
                            <tr>
                                <td>{{data.agent}}</td>
                                {% if data.sale_amount|default:0|add:0 >= 0 %}
                                <td style="color: rgb(0, 192, 0);">{{data.sale_amount|floatformat:2}}</td>
                                {% else %}
                                <td style="color: red;">{{data.sale_amount|floatformat:2}}</td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

</div>
</div>

<nav class="navbar-bottom"  id="btotal">
    <table>
        <thead>
            <tr>
                {% if total_balance|default:0|add:0 >= 0 %}
                <th class="th1" style="color: rgb(0, 192, 0);">Balance</th>
                {% else %}
                <th class="th1" style="color: red;">Balance</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% if total_balance|default:0|add:0 >= 0 %}
                <td class="td1" style="color: rgb(0, 192, 0);">{{total_balance|floatformat:2}}</td>
                {% else %}
                <td class="td1" style="color: red;">{{total_balance|floatformat:2}}</td>
                {% endif %}
            </tr>
        </tbody>
    </table>
</nav>












{% endblock %}