{% extends 'adminapp/partials/base.html' %}
{% load static %}
{% block content %}


<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row header">
                <div class="col-lg-5 col-md-8 col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'adminapp:index' %}"><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item active"> Total Balance</li>
                    </ul>
                </div>

            </div>
        </div>







<div class="row clearfix">
    <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="card" style="padding-left: 0px;
        padding-right: 0px;">
            <div class="header">
                <ul class="header-dropdown">
                    <!-- <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another Action</a></li>
                            <li><a href="javascript:void(0);">Something else</a></li>
                        </ul>
                    </li> -->
                </ul>
            </div>
            <div class="body table-responsive" style="text-align: center;">
                <table class="table">
                    <thead>
                        <tr class="bg-blue">
                            <th>Agent</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-blue">
                            
                            <td>Otto</td>
                            <td>.bg-blue</td>
                        </tr>
                        <tr class="bg-cyan">
                           
                            <td>Thornton</td>
                            <td>.bg-cyan</td>
                        </tr>
                        <tr class="bg-amber">
                            
                            <td>the Bird</td>
                            <td>.bg-amber</td>
                        </tr>
                        <tr class="bg-blush">
                            
                            <td>Jellybean</td>
                            <td>.bg-blush</td>
                        </tr>
                        <tr class="bg-purple">
                           
                            <td>Kikat</td>
                            <td>.bg-purple</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

</div>
</div>












{% endblock %}