{% extends 'adminapp/partials/base.html' %}
{% load static %}
{% block content %}


<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row header">
                <div class="col-lg-5 col-md-8 col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'adminapp:index' %}"><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item active"> Total Balance</li>
                    </ul>
                </div>

            </div>
        </div>







        <div class="col-lg-6 col-md-12 col-sm-12" style="padding-right: 0px;
        padding-left: 0px;
        padding-top: 0px">
            <div class="card" style="padding-left: 0px;
            padding-right: 0px;">
                <div class="header">
                    <!-- <h2>Gradient Color background <small>Add Class <code>.l-pink</code></small> </h2> -->
                   
                </div>
                <div class="body table-responsive">
                    <table class="table" style="text-align: center;">
                        <thead>
                            <tr>
                            
                                <th> Agents</th>
                                <th>Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="l-pink">
                                
                                <td>Otto</td>
                                <td>.l-pink</td>
                            </tr>
                            <tr class="l-turquoise">
                                
                                <td>Thornton</td>
                                <td>.l-turquoise</td>
                            </tr>
                            <tr class="l-parpl">
                               
                                <td>the Bird</td>
                                <td>.l-parpl</td>
                            </tr>
                            <tr class="l-blue">
                                
                                <td>Jellybean</td>
                                <td>.l-blue</td>
                            </tr>
                            <tr class="l-blush">
                                
                                <td>Kikat</td>
                                <td>.l-blush</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

</div>
</div>












{% endblock %}