{% extends 'adminapp/partials/base.html' %}
{% load static %}
{% block content %}

<style>
    .table-cell {
        border: 1px solid #d2d2d2; /* Add a 1px black border to each cell */
        text-align: center;
}
    .navbar-bottom {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 55px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        background-color: #ffffff;
        overflow-x: auto;
        justify-content: space-evenly;
        display: flex;
        flex-direction: column;
    }

    .th, .td{
        text-align: center;
    }
</style>
<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-12">                        
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'adminapp:index' %}"><i class="icon-home"></i></a></li>                            
                        <li class="breadcrumb-item">Winning Report</li>
                    </ul>
                </div> 
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="body">
                        <div class="col-lg-12">
                            <div class="card">
                                
                                <div class="body">
                                    <div class="row clearfix">
                                        <div class="col-md-6 col-6">
                                            <div class="form-group">
                                                
                                                <input type="date" class="form-control" id="date" name="date">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <div class="form-group">
                                                
                                                <select class="form-control show-tick ms select2" data-placeholder="Select"
                                                    name="time" id="time">
                                                    <option value="all">All Times</option>
                                                    {% for time in times %}
                                                    <option value="{{time.id}}">{{time.game_time}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                     <div class="col-md-6 col-6">
                                        <div class="form-group">
                                            <div class="mb-3"> 
                                                <select class="form-control show-tick ms select2" data-placeholder="Select">
                                                    <option value="all">All Agents</option>
                                                    {% for agent in agents %}
                                                    <option value="{{agent.user.id}}">{{agent.user}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-6">
                                        <div class="form-group">                                               
                                                <button type="button" class="btn btn-primary">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-6">
                                        <label class="control-inline fancy-checkbox ml-auto">
                                            <input type="checkbox" name="checkbox2" id="summary-button">
                                            <span>Summary</span>
                                        </label>
                                    </div>
                                    
                                      
                                    </div>
                                   
                                 </div>
                                
                                <div class="body">
                                    <div class="table-responsive">
                                        <table class="table m-b-0">
                                            <thead>
                                                <tr>
                                                     <th> B</th>
                                                     <th> U</th>
                                                     <th> T</th>
                                                     <th> PN</th>
                                                     <th> C</th>
                                                     <th> PP</th>
                                                     <th> SU</th>
                                                     <th> RS</th>
                                                     <th> Net</th>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>500</td>
                                                    <td>500</td>
                                                    <td>500</td>
                                                    <td>500</td>
                                                    <td>500</td>

                                                    <td>500</td>
                                                    <td>500</td>
                                                    <td>500</td>
                                                    <td>500</td>
                                                   
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                   
                                </div>
                                
                            </div>
                           
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<nav class="navbar-bottom">
    <table>
        <thead>
            <tr>
                 <th class="th">Total Count</th>
                 <th class="th">A.Amount</th>
                 <th class="th">C.Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="td">{{totals.total_count}}</td>
                <td class="td">{{totals.total_d_amount|floatformat:2 }}</td>
                <td class="td">{{totals.total_c_amount|floatformat:2 }}</td>
            </tr>
        </tbody>
    </table>
</nav>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // Get the current date in the format "YYYY-MM-DD"
    function getCurrentDate() {
        const now = new Date();
        const year = now.getFullYear();
        const month = (now.getMonth() + 1).toString().padStart(2, '0');
        const day = now.getDate().toString().padStart(2, '0');
        return `${year}-${month}-${day}`;
    }

    // Check if selected_from and selected_to are defined
    var selectedDate = "{{selected_date}}";

    if (selectedDate) {
        document.getElementById('date').value = selectedDate;
    } else {
        document.getElementById('date').value = getCurrentDate();
    }
</script>
{% endblock %} 