{% extends 'adminapp/partials/base.html' %}
{% load static %}
{% block content %}

<style>
    .navbar-bottom {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 55px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        background-color: #ffffff;
        overflow-x: auto;
        justify-content: space-evenly;
        display: flex;
        flex-direction: column;
    }

    .th{
        text-align: center;
    }

    .td2{
        text-align: center;
    }
    .td3{
        text-align: center;
    }
    .th1, .td1{
        text-align: center;
    }


/* print start here */


@media screen {


#dateprint {
    display: none;
}

#totalcount {
    display: none;
}
#printThisDiv {
display: none;
}

}


</style>
<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row header">
                <div class="col-lg-5 col-md-8 col-sm-12">                        
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'adminapp:index' %}"><i class="icon-home"></i></a></li>                            
                        <li class="breadcrumb-item">Winning Report</li>
                    </ul>
                </div> 
            </div>
        </div>

        <div class="row clearfix" style="padding-bottom: 10px;">
            <form method="POST">
                {% csrf_token %}
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card serch" style="background-color:antiquewhite;padding-left: 0px;padding-right: 0px; padding-top: 10px;">
                    
                        <div class="col-lg-12">
                                
                                <div class="body">
                                    <div class="row clearfix" style="padding-bottom: 0px;padding-left: 0px;padding-right: 0px;">
                                        <div class="col-md-6 col-6">
                                            <div class="form-group">
                                                <input type="date" class="form-control" id="from-date" name="from-date">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <div class="form-group">
                                                <input type="date" class="form-control" id="to-date" name="to-date">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <div class="form-group">
                                                <select class="form-control show-tick ms select2" data-placeholder="Select"
                                                    name="time" id="time">
                                                    <option value="all">All Times</option>
                                                    {% for time in times %}
                                                    <option value="{{time.id}}">{{time.game_time}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                     <div class="col-md-6 col-6">
                                        <div class="form-group">
                                            <div class="mb-3"> 
                                                <select class="form-control show-tick ms select2" data-placeholder="Select" name="select-agent" id="agent">
                                                    <option value="all">All Agents</option>
                                                    {% for agent in agents %}
                                                    <option value="{{agent.user.id}}">{{agent.user}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6 col-6">
                                        <div class="form-group">                                               
                                                <button type="submit" class="btn btn-primary">Search</button>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <div class="form-group">                                               
                                                <button class="btn btn-primary" id="pdfButton" onclick="generateAndOpenPDF()" type="submit">Download</button>

                                                </div>
                                            </div>
                                            <div class="col-md-6 col-6">
                                                <label class="control-inline fancy-checkbox ml-auto">
                                                    <input type="checkbox" name="checkbox2" id="summary-button">
                                                    <span>Summary</span>
                                                </label>
                                            </div> 
                                    
                                    </div>
                                                                        
                                    </div>
                                   
                                 </div>
                                </div>
                                
                            
                        </div>
                   
                    </form>
                    </div>
                </div>
            </div>
       
                                
                                <div class="body">
                                    <div class="table-responsive">
                                        <table class="table m-b-0">
                                   
                                            <thead>
                                                <tr class="l-blue">
                                                     <th class="th">B</th>
                                                     <th class="th">U</th>
                                                     <th class="th">T</th>
                                                     <th class="th">PN</th>
                                                     <th class="th">C</th>
                                                     <th class="th">PP</th>
                                                     <th class="th">SU</th>
                                                     <th class="th">RS</th>
                                                     <th class="th">Net</th>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody class="not-summary">
                                                {% for winning in winnings %}
                                                <tr class="l-pink">
                                                    <td class="td2">{{winning.bill}}</td>
                                                    {% if winning.agent %}
                                                    <td class="td3">{{winning.agent}}</td>
                                                    {% else %}
                                                    <td class="td3">{{winning.dealer.agent}} ({{winning.dealer}})</td>
                                                    {% endif %}
                                                    <td class="td2">{{winning.LSK}}</td>
                                                    <td class="td3">{{winning.number}}</td>
                                                    <td class="td2">{{winning.count}}</td>
                                                    <td class="td3">{{winning.position}}</td>
                                                    <td class="td2">{{winning.commission|floatformat:2}}</td>
                                                    <td class="td3">{{winning.prize|floatformat:2}}</td>
                                                    <td class="td2">{{winning.total|floatformat:2}}</td>                                                  
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                            <tbody style="display: none;" class="summary-row">
                                                {% for winning in aggr %}
                                                <tr class="l-turquoise">
                                                    <td class="td2">{{winning.bill}}</td>
                                                    {% if winning.agent %}
                                                    <td class="td3">$</td>
                                                    {% else %}
                                                    <td class="td3">$</td>
                                                    {% endif %}
                                                    <td class="td2">{{winning.LSK}}</td>
                                                    <td class="td3">{{winning.number}}</td>
                                                    <td class="td2">{{winning.total_count}}</td>
                                                    <td class="td3">{{winning.position}}</td>
                                                    <td class="td2">{{winning.total_commission|floatformat:2}}</td>
                                                    <td class="td3">{{winning.total_prize|floatformat:2}}</td>
                                                    <td class="td2">{{winning.total_net|floatformat:2}}</td>                                                  
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                       
                                    </div>
                                    <div  style="padding-top: 50px;"></div>
                                    </div>
                                   
                    
        </div>
        
    </div>
</div>

<nav class="navbar-bottom l-parpl" id="btotal">
    <table> 
        <thead>
            <tr>
                 <th class="th1">COUNT</th>
                 <th class="th1">COMM</th>
                 <th class="th1">TOTAL</th>
                 <th class="th1">NET</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="td1">{{totals.total_count}}</td>
                <td class="td1">{{totals.total_commission|floatformat:2 }}</td>
                <td class="td1">{{totals.total_rs|floatformat:2 }}</td>
                <td class="td1">{{totals.total_net|floatformat:2 }}</td>
            </tr>
        </tbody>
    </table>
</nav>


<div id="pdftab">
    <h3 style="display: inline-block">Winning Report</h3>
    <h3 id="demo" style="display: inline-block"></h3>
    <h3 id="demo1" style="display: inline-block"></h3>
    <h3 id="demo4" style="display: inline-block;"></h3>

    <h3 id="demo"></h3>
    <h3 id="demo1"></h3>
    <h3 id="demo3"></h3>
    <hr>
    <div class="body">
        <div class="table-responsive">
            <table class="table m-b-0" style="border: 2px; width: 100%;height: 30%;">
                
                <thead>
                    <tr class="l-blue" style="text-align: center;">
                         <th class="th" style="text-align: center;">B</th>
                         <th class="th" style="text-align: center;">U</th>
                         <th class="th" style="text-align: center;">T</th>
                         <th class="th" style="text-align: center;">PN</th>
                         <th class="th" style="text-align: center;">C</th>
                         <th class="th" style="text-align: center;">PP</th>
                         <th class="th" style="text-align: center;">SU</th>
                         <th class="th" style="text-align: center;">RS</th>
                         <th class="th" style="text-align: center;">Net</th>
                        
                    </tr>
                </thead>
                <tbody class="not-summary">
                    {% for winning in winnings %}
                    <tr class="l-pink" style="text-align: center;">
                        <td class="td2" style="text-align: center;">{{winning.bill}}</td>
                        {% if winning.agent %}
                        <td class="td3"  style="text-align: center;">{{winning.agent}}</td>
                        {% else %}
                        <td class="td3"  style="text-align: center;">{{winning.dealer}}</td>
                        {% endif %}
                        <td class="td2" style="text-align: center;">{{winning.LSK}}</td>
                        <td class="td3"  style="text-align: center;">{{winning.number}}</td>
                        <td class="td2" style="text-align: center;">{{winning.count}}</td>
                        <td class="td3"  style="text-align: center;">{{winning.position}}</td>
                        <td class="td2" style="text-align: center;">{{winning.commission|floatformat:2}}</td>
                        <td class="td3"  style="text-align: center;">{{winning.prize|floatformat:2}}</td>
                        <td class="td2" style="text-align: center;">{{winning.total|floatformat:2}}</td>                                                  
                    </tr>
                    {% endfor %}
                </tbody>
                <tbody style="display: none;" class="summary-row">
                    {% for winning in aggr %}
                    <tr class="l-turquoise" style="text-align: center;">
                        <td class="td2" style="text-align: center;">{{winning.bill}}</td>
                        {% if winning.agent %}
                        <td class="td3"  style="text-align: center;">$</td>
                        {% else %}
                        <td class="td3"  style="text-align: center;">$</td>
                        {% endif %}
                        <td class="td2" style="text-align: center;">{{winning.LSK}}</td>
                        <td class="td3"  style="text-align: center;">{{winning.number}}</td>
                        <td class="td2" style="text-align: center;">{{winning.total_count}}</td>
                        <td class="td3"  style="text-align: center;">{{winning.position}}</td>
                        <td class="td2" style="text-align: center;">{{winning.total_commission|floatformat:2}}</td>
                        <td class="td3"  style="text-align: center;">{{winning.total_prize|floatformat:2}}</td>
                        <td class="td2" style="text-align: center;">{{winning.total_net|floatformat:2}}</td>                                                  
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr>
            <div class="col-md-12 text-right" id="totalcount">
                <h5>COUNT : {{totals.total_count}}</h5>
                <h5>COMM: {{totals.total_commission|floatformat:2 }}</h5>
                <h5>TOTAL: {{totals.total_rs|floatformat:2 }}</h5>
                <h5>NET: {{totals.total_net|floatformat:2 }}</h5>

            </div>
        </div>
       
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $("#summary-button").change(function() {
            if (this.checked) {
                $(".summary-row").show(); // Show the row when the checkbox is checked
                $(".not-summary").hide();
            } else {
                $(".summary-row").hide(); // Hide the row when the checkbox is unchecked
                $(".not-summary").show(); 
            }
        });
    });
</script>
<script>
    // Get the current date in the format "YYYY-MM-DD"
    function getCurrentDate() {
        const now = new Date();
        const year = now.getFullYear();
        const month = (now.getMonth() + 1).toString().padStart(2, '0');
        const day = now.getDate().toString().padStart(2, '0');
        return `${year}-${month}-${day}`;
    }

    // Check if selected_from and selected_to are defined
    var selectedFrom = "{{selected_from}}";
    var selectedTo = "{{selected_to}}";

    if (selectedFrom && selectedTo) {
        document.getElementById('from-date').value = selectedFrom;
        document.getElementById('to-date').value = selectedTo;
    } else {
        document.getElementById('from-date').value = getCurrentDate();
        document.getElementById('to-date').value = getCurrentDate();
    }
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Get the select element by its ID
        var selectDealer = document.getElementById("agent");
        var selectTime = document.getElementById("time");

        console.log("{{selected_agent}}")
        selectDealer.value = "{{ selected_agent }}";
        selectTime.value = "{{ selected_time }}";

    });
</script>

<script>


    const x = document.getElementById("from-date");
        const y = document.getElementById("to-date");

        let currentVal = x.value;
        let currentValue = y.value;

        const daysOfWeek = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];

        let fromDate = new Date(currentVal);
        let toDate = new Date(currentValue);

        let fromDayOfWeek = daysOfWeek[fromDate.getDay()];
        let toDayOfWeek = daysOfWeek[toDate.getDay()];

        document.getElementById("demo").innerHTML = " : " + currentVal + " (" + fromDayOfWeek + ")";
        document.getElementById("demo1").innerHTML = "&nbsp; to &nbsp;" + currentValue + " (" + toDayOfWeek + ")";
        document.getElementById("demo4").innerHTML = " : " + "{{ selected_time}}";

</script>



<script>
    //   pdftab hide

    document.addEventListener("DOMContentLoaded", function () {
        // Hide the pdftab div when the page loads
        var pdftab = document.getElementById("pdftab");
        if (pdftab) {
            pdftab.style.display = "none";
        }
    });
</script>

<script src="https://rawgit.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>

<script>
    function generateAndOpenPDF() {
        // Disable the button to prevent multiple clicks
        var pdfButton = document.getElementById("pdfButton");
        if (pdfButton) {
            pdfButton.disabled = true;
        }

        var pdftab = document.getElementById("pdftab");

        // Show the pdftab div when generateAndOpenPDF function is called
        if (pdftab) {
            pdftab.style.display = "block"; // or "inline" or "inline-block" depending on your layout
        }

        var element = document.getElementById('pdftab');
        if (!element) {
            console.error("Element with ID 'pdftab' not found.");

            // Re-enable the button in case of an error
            if (pdfButton) {
                pdfButton.disabled = false;
            }

            return;
        }

        var rowsPerPage = 10; // Number of rows to display per page

        // Configuration options for html2pdf
        var options = {
            margin: 10,
            filename: 'Winning_Report{{selected_from}} to {{selected_to}} -{{ selected_game_time.game_time }}.pdf',
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: { scale: 2 },
            jsPDF: { unit: 'mm', format: 'a3', orientation: 'portrait' },
        };

        // Call html2pdf with the specified options
        html2pdf(element, options)
            .then(function (pdf) {
                var totalPages = pdf.internal.getNumberOfPages();

                for (var i = 1; i <= totalPages; i++) {
                    pdf.setPage(i);
                    pdf.setFontSize(10);
                    pdf.setTextColor(150);

                    // Calculate the range of rows to display on this page
                    var startRow = (i - 1) * rowsPerPage;
                    var endRow = Math.min(i * rowsPerPage, element.rows.length);

                    // Loop through the rows and display only the selected range
                    for (var j = startRow; j < endRow; j++) {
                        var row = element.rows[j];
                        var cells = row.getElementsByTagName('td');

                        for (var k = 0; k < cells.length; k++) {
                            pdf.text(cells[k].innerText, 20 + k * 30, 15 + (j % rowsPerPage) * 10);
                        }
                    }

                    pdf.text('Footer content', 20, pdf.internal.pageSize.height - 40);
                }

                // Get the PDF data as a Blob
                var pdfBlob = pdf.output('blob');

                // Create a link to the Blob data with the Google Drive viewer link
                var driveViewerLink = 'https://drive.google.com/viewerng/viewer?embedded=true&url=' + encodeURIComponent(URL.createObjectURL(pdfBlob));

                // Open the link in a new tab
                window.open(driveViewerLink, '_blank');

                // Hide the pdftab div after generating and opening the PDF
                if (pdftab) {
                    pdftab.style.display = "none";
                }

                // Re-enable the button after generating and opening the PDF
                if (pdfButton) {
                    pdfButton.disabled = false;
                }

                console.log("PDF generated and opened successfully:", pdf);
            })
            .catch(function (error) {
                console.error("Error generating PDF:", error);

                // Restore the display property of the pdftab div in case of an error
                if (pdftab) {
                    pdftab.style.display = "none";
                }

                // Re-enable the button in case of an error
                if (pdfButton) {
                    pdfButton.disabled = false;
                }
            });
    }

</script>

{% endblock %} 