{% extends 'adminapp/partials/base.html' %}
{% load static %}
{% block content %}

<style>
    .navbar-bottom {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 55px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        background-color: #ffffff;
        overflow-x: auto;
        justify-content: space-evenly;
        display: flex;
        flex-direction: column;
    }

    .th{
        text-align: center;
    }

    .td2{
        text-align: center;
        background-color: rgb(221, 221, 221);
    }
    .td3{
        text-align: center;
        background-color: rgb(255, 255, 255);
    }
    .th1, .td1{
        text-align: center;
    }



    @media screen {
        #total {
            display: none !important;
        }

        #dateprint {
            display: none;
        }
    }



    @media print {

        #header,
        #left-sidebar,
        .navbar-toggler,
        .a,
        .serch-form,
        .header,
        .block-header,
        .button,
        #printbutton {
            display: none !important;
            content: none !important;
        }

        .page-titles,
        h1,
        h2,
        h3 {
            display: none;

        }

        .page-wrapper>.content {
            padding: 0 !important;
            padding-left: 0%;
            padding-right: 0%;
        }

        .page-wrapper {
            padding-top: 0%;
        }

        .table {
            table-layout: fixed;
            size: 36cm;
            width: 142%;
            margin-top: 5cm;
            margin-left: 0cm;
            margin-right: 0cm;

        }

        #dateprint {
            display: block;
        }

        #total {
            display: block;
        }

        .page-main-content {
            padding-top: 0px;
        }

        .navbar-bottom {
            display: none;
        }


    }

</style>
<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row header">
                <div class="col-lg-5 col-md-8 col-sm-12">                        
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'adminapp:index' %}"><i class="icon-home"></i></a></li>                            
                        <li class="breadcrumb-item">Winning Count Report</li>
                    </ul>
                </div> 
            </div>
        </div>

        <div class="row clearfix" style="padding-bottom: 00px;">
            <form method="POST">
                {% csrf_token %}
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="body serch">
                        <div class="col-lg-12">
                            <div class="card serch-form">
                                
                                <div class="body">
                                    <div class="row clearfix">
                                        <div class="col-md-6 col-6">
                                            <div class="form-group">
                                                <input type="date" class="form-control" id="from-date" name="from-date">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <div class="form-group">
                                                <input type="date" class="form-control" id="to-date" name="to-date">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <div class="form-group">
                                                <select class="form-control show-tick ms select2" data-placeholder="Select"
                                                    name="select-agent" id="agent">
                                                    <option value="all">All Agents</option>
                                                    {% for agent in agents %}
                                                    <option value="{{agent.user.id}}">{{agent.user}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <div class="form-group">
                                                <select class="form-control show-tick ms select2" data-placeholder="Select"
                                                    name="time" id="time">
                                                    <option value="all">All Times</option>
                                                    {% for time in times %}
                                                    <option value="{{time.id}}">{{time.game_time}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-12  text-right">
                                    
                                            <button type="submit" class="btn btn-primary">Search</button>
                                        
                                        
                                            <button class="btn btn-primary" id="printbutton" onclick="makeprint()"
                                                type="submit">Print </button>
                                        
                                    </div>
                                    
                                    </div>
                                                                        
                                    </div>
                                   
                                 </div>
                                </form>
                                <div class="body">
                                    <div class="table-responsive">
                                        <table class="table m-b-0">
                                            <div class="col-lg-12 text-right" id="dateprint">
                                                <h6 id="demo2"></h6>
                                                <h6>Winning Count Report</h6>
                                                <h6 id="demo"></h6>
                                                <h6 id="demo1"></h6>
                
                                            </div>
                                            <thead>
                                                <tr>
                                                     <th class="th">Positon</th>
                                                     <th class="th">Count</th>
                                                     <th class="th">Amount</th>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody class="not-summary">
                                                {% for winning in winnings %}
                                                <tr>
                                                    <td class="td2">{{winning.position}}</td>
                                                    <td class="td3">{{winning.count}}</td>
                                                    <td class="td2">{{winning.prize}}</td>                                                  
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        <div class="col-md-12 text-right" id="total">
                                            <h6>TOTAL COUNT : {{totals.total_count}}</h6>
                                            <h6>TOTAL AMOUNT : {{totals.total_prize}}</h6>
                
                                        </div>
                                    </div>
                                   
                                </div>
                                
                            </div>
                           
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        
        </div>
        
    </div>
</div>

<nav class="navbar-bottom" id="btotal">
    <table>
        <thead>
            <tr>
                 <th class="th1">TOTAL COUNT</th>
                 <th class="th1">TOTAL AMOUNT</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="td1">{{totals.total_count}}</td>
                <td class="td1">{{totals.total_prize}}</td>
            </tr>
        </tbody>
    </table>
</nav>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    // Get the current date in the format "YYYY-MM-DD"
    function getCurrentDate() {
        const now = new Date();
        const year = now.getFullYear();
        const month = (now.getMonth() + 1).toString().padStart(2, '0');
        const day = now.getDate().toString().padStart(2, '0');
        return `${year}-${month}-${day}`;
    }

    // Check if selected_from and selected_to are defined
    var selectedFrom = "{{selected_from}}";
    var selectedTo = "{{selected_to}}";

    if (selectedFrom && selectedTo) {
        document.getElementById('from-date').value = selectedFrom;
        document.getElementById('to-date').value = selectedTo;
    } else {
        document.getElementById('from-date').value = getCurrentDate();
        document.getElementById('to-date').value = getCurrentDate();
    }
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {

        var selectTime = document.getElementById("time");
        var selectAgent = document.getElementById("agent")
        // Set the selected value based on the selected_dealer variable
        selectTime.value = "{{ selected_time }}";
        selectAgent.value = "{{ selected_agent }}"
        

    });
</script>



<script>

    // print table
    function makeprint(table) {
        window.print();
    }


    // get date

    const x = document.getElementById("from-date");
    const y = document.getElementById("to-date");
    const a = document.getElementById("agent");
    let currentVal = x.value;
    let currentValue = y.value;
    let agent = a.value;

    document.getElementById("demo").innerHTML = "<br>From Date : " + currentVal;
    document.getElementById("demo1").innerHTML = "<br>To Date: " + currentValue;
    document.getElementById("demo2").innerHTML = "<br>  " + agent;
</script>

{% endblock %} 