{% extends 'dealer/partials/base.html' %}
{% load static %}
{% block content %}


<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-12">
                    <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                class="fa fa-arrow-left"></i></a>{{current_time}}</h2>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            {% for time, is_available in zipped_play_times %}
              {% if is_available %}
                <div class="col-lg-3 col-md-12">
                  <a href="{% url 'dealer:play_game' time.id %}">
                    <div class="card top_counter currency_state {% if time.game_time == 'morning' %}bg-success{% elif time.game_time == 'afternoon' %}bg-warning{% else %}bg-info{% endif %}">
                      <div class="body">
                        <div class="icon"><img src="{% static 'images/game1.png' %}" width="35" /></div>
                        <div class="content">
                          <h5 class="number">{{ time.game_time }}</h5>
                          {% if is_available %}
                            <p>Game is available!</p>
                          {% else %}
                            <p>Game is not available.</p>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              {% else %}
              <div class="col-lg-3 col-md-12">
                <a href="#" onclick="noGame()" data-type="confirm" class="js-sweetalert">
                  <div class="card top_counter currency_state bg-warning">
                    <div class="body">
                      <div class="icon"><img src="{% static 'images/game1.png' %}" width="35" /></div>
                      <div class="content">
                        <h5 class="number">{{ time.game_time }}</h5>
                        {% if is_available %}
                          <p>Game is available!</p>
                        {% else %}
                          <p>Game is not available.</p>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            {% endif %}
          {% endfor %}
        </div>






    </div>
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    function noGame() {
        swal({
            title: "Game is not available?",
            text: "You can't play on this time!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
    }


</script>


{% endblock %}