{% load static %}
  
    
        <nav class="navbar navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-btn">
                    <button type="button" class="btn-toggle-offcanvas"><i class="lnr lnr-menu fa fa-bars"></i></button>
                </div>
    
                <div class="navbar-brand">
                    <a href="{% url 'agent:index' %}"><img src="{% static 'images/guessmaster.png' %}" alt="Lucid Logo" class="img-responsive logo"></a>                
                </div>
                
                <div class="navbar-right">
                    
                </div>
            </div>
        </nav>
    
        