{% load static %}
<div id="left-sidebar" class="sidebar">
    <div class="sidebar-scroll">
        <div class="user-account">
            
            <div class="dropdown">
                <span>Welcome,</span>
                <a href="javascript:void(0);" class="dropdown-toggle user-name" data-toggle="dropdown"><strong>{{request.user}}</strong></a>
                <ul class="dropdown-menu dropdown-menu-right account">
                    <li><a href="{% url 'website:logout' %}"><i class="icon-power"></i>Logout</a></li>
                </ul>
            </div>
            <hr>
          
        </div>
        <!-- Nav tabs -->
      
            
        <!-- Tab panes -->
        <div class="tab-content p-l-0 p-r-0">
            <div class="tab-pane active" id="menu">
                <nav id="left-sidebar-nav" class="sidebar-nav">
                    <ul id="main-menu" class="metismenu">                            
                        <li class="active">
                           
                                <a href="{% url 'dealer:index' %}" ><i class="icon-home"></i> <span>Dashboard</span></a>

                            </li>
                            <li>
                                <a href="{% url 'dealer:sales_report' %}" ><i class="icon-notebook"></i> <span>Sales Report</span></a>
                              
                            </li>
                            <li>
                                <a href="{% url 'dealer:daily_report' %}" ><i class="icon-book-open"></i> <span>Daily Report</span></a>
                              
                            </li>
                        <li>
                            <a href="{% url 'dealer:result' %}" ><i class="icon-trophy"></i> <span>Result</span></a>
                          
                        </li>
                      
                        <li>
                            <a href=" {% url 'dealer:edit_bill_times' %}"><i class="icon-book-open "></i> <span>Edit Bill</span></a>
                         
                        </li>
                        <li>
                            <a href="#uiElements" class="has-arrow"><i class="icon-grid"></i> <span>Reports</span></a>
                            <ul>
                                <li><a href="{% url 'dealer:winning_report' %}">Winning Report</a></li>   

                                <li><a href="{% url 'dealer:count_salereport' %}">Sales Count Report</a></li>

                                <li><a href="{% url 'dealer:winning_countreport' %}">Count Winning Report</a></li> 
                                <li><a href="{% url 'dealer:balance_report' %}">Balance Report</a></li>                             
                              
                           
                            </ul>
                        </li>
                        <li>
                            <a href="{% url 'dealer:change_password' %}" ><i class="icon-wrench"></i> <span>Change Password</span></a>
                           
                        </li>
                        
                       
                     
                    </ul>
                </nav>
            </div>
              
        </div>          
    </div>
</div>